<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <h1>Listado de Parametros</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-10">
            <div class="row">

                <div class="col-sm-6" *ngFor="let item of parametros">
                    <div class="row">
                        <div class="col-sm-6">

                            {{item.cod_parametro}} -<br> tipo : {{item.tip_parametro}}
                        </div>
                        <div class="col-sm-6">  
                            <input *ngIf="item.tip_parametro === 'string' " [(ngModel)]="item.par_string" type="text" class="form-control">
                            <input *ngIf="item.tip_parametro === 'numerico' " [(ngModel)]="item.par_numerico" type="number" class="form-control">
                            <select class="form-control" [(ngModel)]="item.par_id" *ngIf="item.tip_parametro === 'identificacion' "> 
                                <option *ngFor="let item2 of item.datosTabla" value="item2.id">{{item2.nombre}}</option> 
                            </select>
                            <select class="form-control" [(ngModel)]="item.par_boolean" *ngIf="item.tip_parametro === 'booleano' "> 
                                <option *ngFor="let item2 of item.datosTabla" [value]="item2.id">{{item2.nombre}}</option> 
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>