<div class="container-fluid pt-4 pb-4 modal_container ">
    <div class="row"   >
        <div class="col-sm-12" >
            <h1>Nuevo traslado desde Caja</h1>
        </div>
    </div> 
    <div class="row"   >
        <div class="col-sm-6" >
            <h5>Nombre traslado</h5>
        </div>
        <div class="col-sm-6" >
            <input type="text" class="form-control" name="nombreTraslado" id="nombreTraslado"  [(ngModel)]="dataProceso!.nombre" >
        </div></div> <br>
        <div class="row"   >
            <div class="col-sm-6" >
                <h5>Descripción</h5>
            </div>
        <div class="col-sm-6" > 
            <input type="text" class="form-control" name="nombreTraslado" id="nombreTraslado"  [(ngModel)]="dataProceso!.descripcion" >
        </div>
    </div> 
    <div class="row"  style="margin: 10px;"  >
        
        <div class="col-sm-6" >
            
            <button type="button"class="btn btn-danger" (click)='buscarCuentaContableOrigen()'>
                <i class="bi bi-search"></i>  Cuentas Origen
            </button>
        </div>
        <div class="col-sm-6" >
            <button type="button"class="btn btn-info" (click)='buscarCuentaContableDestino()'>
                <i class="bi bi-search"></i>  Cuenta Destino
            </button>
        </div>
            
    </div>
    <div class="row"   >
        <div class="col-sm-6" >
           
        </div>
        <div class="col-sm-6" >
          <button class="btn btn-success" (click)="guardar()">Guardar</button>
        </div>

    </div> 
    <div class="row" *ngFor="let item of dataProceso?.cuentas"  >  
        <div class="col-sm-2" >
        {{item.cuenta}}
       </div>
       <div class="col-sm-4" >
        {{item.nombre}}
       </div><div class="col-sm-1" >
        {{item.tipo}}
       </div>
        
    </div> 
</div>