<div class="container-fluid contenedor border border-1 border-muted rounded">
    <div class="row pt-1 border-bottom  border-1 border-muted ">
        <div class="col-10">
            <h2>Productos</h2>
        </div>
        <div class="col-2">
            <button tooltip='Nueva Marca de producto' class="btn btn-success rounded-circle custom-button" (click)="openModal()">+</button>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-12">
            <app-table [datosTabla]="datos" [origen]="origen" [columnasTabla]="ColumnasTabla"></app-table>
        </div>
    </div>
</div>