<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 centrado">
            <h1> Ver de facturas</h1>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item ">
            <a class="nav-link likcontPrd boton_activo active" id="ListadoPorNumeroLink" (click)="removeGetActivo('ListadoPorNumeroLink'); ">Por número de factua</a>
        </li>
        <li class="nav-item">
            <a class="nav-link likcontPrd boton_activo" id="ListadoPorClienteLink" (click)="removeGetActivo('ListadoPorClienteLink'); ">Por Cliente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link likcontPrd boton_activo" id="ListadoPorFechaLink" (click)="removeGetActivo('ListadoPorFechaLink');">Por Fecha</a>
        </li>
    </ul>

    <div class="container-fluid contPrd" style="display: block; max-height: 500px; overflow-y: auto;" id="ListadoPorNumeroLinkDiv">
        <div class="row">
            <div class="col-sm-12">
                <h2 class='centrado'>listado por numero de factura</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                Digite el numero o codigo de la factura
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="text" (keyup.enter)="getDocumentos()" [(ngModel)]="codFactura" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">
                        código o el número de la factura a impimir el programa buscara la o las facturas que coincidad con el valor ingresado</small>
                </div>
            </div>
            <div class="col-sm-2">
                <button type="button" (click)="getDocumentos()" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </div>
        </div>

    </div>




    <div class="container-fluid contPrd" style="display: block; max-height: 500px; overflow-y: auto;" id="ListadoPorClienteLinkDiv">
        <div class="row">
            <div class="col-sm-12">
                <h2 class='centrado'>listado por cliente</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                Digite el numero o nombre del cliente :
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="text" (keyup.enter)="getDocumentosPorCliente()" [(ngModel)]="codCliente" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">código  o el nombre del cliente a validar facturacion, el programa buscara la o las facturas que coincidad con el valor ingresado</small>
                </div>
            </div>
            <div class="col-sm-2">
                <button type="button" (click)="getDocumentosPorCliente()" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </div>
        </div>

    </div>




    <div class="container-fluid contPrd" style="display: block; max-height: 500px; overflow-y: auto;" id="ListadoPorFechaLinkDiv">
        <div class="row">
            <div class="col-sm-12">
                <h2 class='centrado'>listado por numero de factura</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                escoja el rango de fecha :
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="date" max="{{fecha2}}" (keyup.enter)="getDocumentosPorFecha()" [(ngModel)]="fecha1" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">fecha inicial del rango de busqueda de factura</small>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="date" min="{{fecha1}}" (keyup.enter)="getDocumentosPorFecha()" [(ngModel)]="fecha2" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">fecha final del rango de busqueda de factura</small>
                </div>
            </div>
            <div class="col-sm-2">
                <button type="button" (click)="getDocumentosPorFecha()" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </div>
        </div>

    </div>







    <div class="row">
        <div class="col-sm-12 centrado">
            listado de facturas
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12  ">
            <table class="table">
                <tr>
                    <td>fecha</td>
                    <td>factura id</td>
                    <td>Cliente</td>
                    <td>cantidad</td>
                    <td>valor parcial</td>
                    <td>descuento</td>
                    <td>IVA</td>
                    <td>Total</td>
                    <td colspan="4">OPCIONES</td>
                </tr>
                <tr *ngFor="let venta of documentos">
                    <td>{{venta.fecha}}</td>
                    <td>{{venta.idDocumentoFinal}}</td>
                    <td>{{venta.clienteNombre}}</td>
                    <td>{{venta.cantidadVendida}}</td>
                    <td>{{venta.valorParcial|currency:'USD'}}</td>
                    <td>{{venta.descuento|currency:'USD'}}</td>
                    <td>{{venta.valorIVA|currency:'USD'}}</td>
                    <td>{{venta.valorTotal|currency:'USD'}}</td>
                    <td><i class="fas fa-print boton_activo" (click)="imprimirFactura(venta)"></i> </td>
                    <td> <i class="fas fa-list boton_activo" (click)="VerFactura(venta)"></i></td>
                    <td> </td>

                </tr>
            </table>
        </div>
    </div>

</div>