<div class="container-fluid modal_container" > 
    <div class="row">
        <div class="col-sm-12"> 
            <div class="row">
           
                <div class="col-sm-6">
                    <span>Filtrar por categorias</span>
                    <elemt-categoriasDropdown    (selectionChange)="buscarPorCategoriaDB($event);" [selectedValue]="categoriaSeleccionada"   ></elemt-categoriasDropdown>
                 
                </div>
                <div class="col-sm-6">
                    <span>Filtrar por marcas</span>
                    <elemt-marcaDropdown    (selectionChange)="buscarPorMarcaDB($event);" [selectedValue]="marcaSeleccionada"   ></elemt-marcaDropdown>
                 
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12" > 
            <a class="navbar-brand">Busqueda Producto</a>
            <div class="d-flex" role="search">
                <input type="text" [(ngModel)]='textFindProductos' (keyup.enter)="getProductosPorFiltro()" class="form-control" /> 
                        <button class="btn btn-outline-success" (click)="getProductosPorFiltro()" type="button">Buscar</button>
                    </div>
                </div>  
    </div><hr>
    <div class="row">
                <div class="col-sm-12" style="overflow: auto; height:60%;max-height: 400px; width: 100%;overflow-x: auto; ">
                         
            <table class="table table-striped" style="min-width: 600px;">   
                <tr>
                    <th class="centrado">Código</th> 
                    <th class="centrado">Nombre</th>
                    <th class="centrado">Categoría</th>
                    <th class="centrado">Marca</th>
                    <th class="centrado">Precio</th> 
                </tr>
                <tr *ngFor="let prd of listPrdBusqueda"  (click)="enviarProducto(prd)"  style="cursor: pointer;" class="listaPrdBusqueda">
                    <td>{{prd.id}}</td> 
                    <td >
                        <span [innerHTML]="prd.nombre | lineBreak:16" style="background:none;"></span>
                      </td>
                    <td>{{prd.nombreCategoria}}</td>
                    <td>{{prd.nombreMarca}}</td>
                    <td>{{prd.precioVenta}}</td>
                    
                </tr>
            </table>
        </div>
    </div><hr>
</div>
