<div class="container" style="overflow-y:auto; min-width: 1000px !important">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-10"></div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <nav class="navbar bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand">Categorias</a>
                            <div class="d-flex" role="search">
                                <input class="form-control me-2" [(ngModel)]='textFindCategoria' (keyup.enter)="getCaterogiasPorFiltro()" type="search" placeholder="Filtrar Cate" aria-label="Buscar">
                                <button class="btn btn-outline-success" (click)="getCaterogiasPorFiltro()" type="button">Buscar</button>
                            </div>
                        </div>
                    </nav>
                    <span class="badge rounded-pill text-bg-success" (click)="buscarPorCategoria(categoria)" style="margin-left:5px; cursor: pointer;" *ngFor="let categoria of categorias">{{categoria.label}} </span>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <nav class="navbar bg-light">
                            <div class="container-fluid">
                                <a class="navbar-brand">Marcas</a>
                                <div class="d-flex" role="search">
                                    <input class="form-control me-2" [(ngModel)]='textFindMarcas' (keyup.enter)="getMarcasPorFiltro()" type="search" placeholder="Filtrar Marcas" aria-label="Buscar">
                                    <button class="btn btn-outline-success" (click)="getMarcasPorFiltro()" type="button">Buscar</button>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-sm-12" style="max-height: 100px; overflow-y: auto;">
                        <span class="badge rounded-pill text-bg-primary" (click)="buscarPorMarca(marca)" style="margin-left:5px; cursor: pointer;" *ngFor="let marca of marcas">{{marca.label}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12" >
            <nav class="navbar bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand">Categorias</a>
                    <div class="d-flex" role="search">
                        <input type="text" [(ngModel)]='textFindProductos' (keyup.enter)="getProductosPorFiltro()" class="form-control" />
                 
                        <button class="btn btn-outline-success" (click)="getProductosPorFiltro()" type="button">Buscar</button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
            <div class="row">
                <div class="col-sm-12" style="overflow: auto; height:60%;min-height: 400px;max-height: 600px;">
                         
            <table class="table">   
                <tr>
                    <th class="centrado">Código</th> 
                    <th class="centrado">Nombre</th>
                    <th class="centrado">Categoría</th>
                    <th class="centrado">Marca</th>
                    <th class="centrado">Precio</th>
                    <th class="centrado">Acción</th>
                </tr>
                <tr *ngFor="let prd of listPrdBusqueda">
                    <td>{{prd.id}}</td> 
                    <td>{{prd.nombre}}</td>
                    <td>{{prd.categoria?.nombre}}</td>
                    <td>{{prd.marca?.nombre}}</td>
                    <td>{{prd.precioVenta}}</td>
                    <td>
                        <button (click)="enviarProducto(prd)" class="btn btn-primary btn-sm">
                            <i class="bi bi-mouse"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
