<div class="container-fluid contenedor" style="width: 100%; height: 90%;">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="centrado">Creación de Medios De Pago</h2>
        </div>
    </div>
    
    <div class="row"> 
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
    <div class="row"> 
        <div class="col-sm-6">
            <label for="establecimientoCaja">Nombre</label> 
            <input type="text" class="o_input form-control" [(ngModel)]="newMedioP.nombre" placeholder="Nombre del medio...">
        </div> 
        <div class="col-sm-6"><label for="establecimientoCaja">Estado</label> 
            <select class=" o_input form-control" [(ngModel)]="newMedioP.estado">
                <option value=0>Estado</option>
                <option value=1>Activo</option>
                <option value=2>Inactivo</option>
            </select>
        </div>
    </div>
    <div class="row pt-4"> 
        
        <div class="col-sm-6"  >
            <label for="establecimientoCaja">Cuenta contable</label> 
            <div class="input-group mb-3">
               
                <input type="text" class="form-control" readonly placeholder="Cuenta medio de pago" [(ngModel)]="newMedioP.nombreCuentaContable" name="nombreCCnttIvaVenta"  aria-label="Username"  aria-describedby="basic-addon1">  
                <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables()'>
                    <i class="bi bi-search"></i>  
                </button>
            </div>
        </div> 
        <div class="col-sm-6"> 
            <label for="Establecimiento">Establecimiento</label> 
            <select class="o_input form-control" [(ngModel)]="newMedioP.establecimiento">
                <option value=0>Establecimiento</option>
                <option *ngFor="let item of esta" [ngValue]="item.id">{{item.nombre}}</option>
            </select>
        </div>
    </div>
    <div class="row"> 
        <div class="col-sm-12">
            <label for="establecimientoCaja">Descripción</label> 
            <textarea [(ngModel)]="newMedioP.descripcion" class="o_input form-control" placeholder="Descripcion..."></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 justify-content-center">
            <button class="btn btn-outline-primary" role="button" (click)='guardarMedio()'>
                <i class="bi bi-save"></i> Guardar
            </button>
            <button class="btn btn-outline-danger" role="button" (click)='Cancelar()'>
                <i class="bi bi-trash"></i> Cancelar
            </button>
        </div>
    </div>
</div>
</div>





    <hr>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <table class="table" *ngIf="MedioP.length > 0">
                <tr>
                    <th>nombre</th>
                    <th>descripcion</th>
                    <th>Cuenta</th>
                    <th>estado</th>
                    <th>Establecimiento</th>
                    <th>opcion</th>
                </tr>
                <tr *ngFor="let caja of MedioP">
                    <td>{{caja.nombre}}</td>
                    <td>{{caja.descripcion}}</td>
                    <td>{{caja.nombreCuentaContable}}</td>
                    <td>{{caja.nombreEstado}}</td>
                    <td>{{caja.nombreEsta}}</td>
                    <td *ngIf="caja.nombre !== 'Efectivo'">
                        <i class="bi bi-pencil-fill boton_activo" (click)="setActualizaCaja(caja)"></i>
                    </td>
                    <td *ngIf="caja.nombre === 'Efectivo'">
                        <span class="bi bi-pencil-fill bi-stack-1x" style="position: relative;">
                            <i class="bi bi-x-circle-fill" style="position: absolute; top: -5px; right: -10px; color: Tomato;"></i>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
