<br><br>
<div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="centrado">Cajas Disponible para cierre</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 "></div>
        <div class="col-sm-8 centrado"><br><br> 
            <h1 *ngIf="!flagCajasDisponibles"> No existen cajas disponibles para cierra</h1><br><br> 

            <table *ngIf="flagCajasDisponibles" class="table"> 

                <thead   class="thead-inverse">
                    <tr>
                        <th>caja</th>
                        <th>Descripcion</th>
                        <th>Fecha de Apertura</th>
                        <th >opcion</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let caja of cajas" >
                        <td scope="row">{{caja.nombre}}</td>
                        <td>{{caja.descripcion}}</td>
                        <td>{{caja.fechaEstadoCaja}}</td>
                        <td>
                            <div class="d-flex justify-content-around"> 
                         
                            <i class="bi bi-door-open fs-2 boton_activo text-success" (click)="cerrar_parcial(caja)" title="liberar caja"></i>
                        
                            <i class="bi bi-lock fs-2 boton_activo text-success" (click)="cerrar(caja)" title="Cerrar caja"></i>
                        </div>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
