<div>
  <form
    class="container mt-5"
    action="
    "
  >
    <div class="form-group row">
      <div class="col">
        <label for="nombre">Nombre</label>
        <input
          placeholder="Nombre"
          [(ngModel)]="NwCliente.name"
          class="o_input_req"
          type="text"
          id="nombre"
          class="form-control"
          placeholder="John David Mosquera Perez"
          aria-describedby="helpId"
        />
      </div>
      <div class="col">
        <div class="col">
          <label>Correo Electronico</label>

          <input
            type="email"
            [(ngModel)]="NwCliente.email"
            class="o_input"
            class="form-control"
            placeholder="John@gmail.com"
          />
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label for="">Tipo de identificación</label>

        <select
          class="form-control"
          [(ngModel)]="NwCliente.l10n_latam_identification_type_id"
          placeholder=""
        >
          <option [ngValue]="null" disabled selected>Seleccione uno</option>
          <option *ngFor="let tipid of tipo_identificacion" [ngValue]="tipid">
            {{ tipid[1] }}
          </option>
        </select>
      </div>
      <div class="col">
        <label for="">Numero identificación</label>
        <input
          class="form-control"
          type="number"
          placeholder="327512894"
          [(ngModel)]="NwCliente.vat"
          name=""
          id=""
          aria-describedby="helpId"
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label>Tipo de direccion</label>

        <select
          class="o_input"
          [(ngModel)]="NwCliente.type"
          (change)="muestraCliente()"
          placeholder=""
          class="form-control"
        >
          <option
            *ngFor="let tipdireccion of tipo_direccion"
            [value]="tipdireccion.dato"
          >
            {{ tipdireccion.label }}
          </option>
        </select>
      </div>
      <div class="col">
        <label>Direccion</label>

        <input
          type="text"
          [(ngModel)]="NwCliente.street"
          class="form-control"
          placeholder="Calle..."
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label for="">Compañia</label>
        <select
          class="form-control"
          [(ngModel)]="NwCliente.parent_id"
          placeholder=""
        >
          <option class="noMostrar form-control" [ngValue]="false">
            Compañia - ninguna
          </option>
          <!--   <option  *ngFor='let compania of companias' value="compania">{{compania.label}}</option>-->
        </select>
      </div>
      <div class="col">
        <label>Puesto de trabajo</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="NwCliente.function"
          placeholder="por ejemplo : Director de Ventas"
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label for="">Categoria</label>
        <select class="form-control" placeholder="">
          <option *ngFor="let categoria of categorias" value="categoria.dato">
            {{ categoria.label }}
          </option>
        </select>
      </div>
      <div class="col">
        <label>Titulo</label>

        <select class="form-control" placeholder="">
          <option *ngFor="let titulo of titulos" value="titulo.dato">
            {{ titulo.label }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label>Pais</label>
        <select
          class="form-control"
          [(ngModel)]="NwCliente.country_id"
          (change)="getDepartamento(cityN.cod_pais)"
        >
          <!-- <option class="noMostrar" [ngValue]="0">País</option> -->
          <option *ngFor="let Pais of paises" [ngValue]="Pais.dato">
            {{ Pais.label }}
          </option>
        </select>
      </div>
      <div class="col">
        <label>Ciudad</label>
        <select class="form-control" [(ngModel)]="NwCliente.city">
          <option [ngValue]="0" class="noMostrar">Ciudad</option>
          <option *ngFor="let Ciudad of Ciudades" [ngValue]="Ciudad.dato">
            {{ Ciudad.label }}
          </option>
        </select>
      </div>
      <div class="col">
        <label>Departamento</label>

        <select
          class="form-control"
          placeholder=""
          [(ngModel)]="NwCliente.state_id"
          (change)="getCiudad(cityN.cod_departamento)"
        >
          <option [ngValue]="0" class="noMostrar">Departamento</option>
          <option
            *ngFor="let Provincia of Provincias"
            [ngValue]="Provincia.dato"
          >
            {{ Provincia.label }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label>Telefono</label>
        <input
          placeholder="3654638"
          [(ngModel)]="NwCliente.phone"
          type="number"
          class="form-control"
        />
      </div>
      <div class="col">
        <label>Celular</label>

        <input
          type="number"
          [(ngModel)]="NwCliente.mobile"
          class="form-control"
          placeholder="3102569879"
        />
      </div>

      <div class="col">
        <label>Enlace a Página Web</label>

        <input
          type="email"
          class="form-control"
          placeholder="https://getbootstrap.com"
        />
      </div>
    </div>

    <div class="form-group">
      <!---identificacion -->

      <div class="form-group d-flex gap-2 justify-content-center">
        <div></div>
        <div></div>
      </div>

      <div class="col-sm-3">
        <div class="form-group" placeholder="Compañía"></div>
      </div>
      <!---identificacion -->
    </div>

    <!-- <div class="row">
      <div class="col-sm-5">
        <div class="row"></div>
        <div class="row">
          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="NwCliente.street2"
              class="o_input"
              placeholder="Calle 2..."
            />

            <div class="form-group">
              <div class="row"></div>
            </div>
            <div class="form-group">
              <div class="row">
                <input
                  type="text"
                  style="margin-left: 10px"
                  [(ngModel)]="cityN.cod_dane"
                  class="o_input col-sm-3"
                  placeholder="C.P."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
      campos del cliente segunda columna debajo de nombre
    
    </div> -->

    <div>
      <button>Crear</button>
      <button>Cancelar</button>
    </div>
  </form>
</div>
