<div class="container-fluid">  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" [routerLink]="[ 'Ingresos'] ">Vehiculos</a>
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item " *ngFor="let item of  permisos?.recursosHijos">
                    <a class="nav-link "  *ngIf="item.direccion != undefined  && item.direccion.length > 0 "  
                        routerLinkActive="active"  [routerLink]="item.direccion">{{item.display_nombre}}</a>
                </li> 
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>

    <br>
    <br>
</div>