<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12  ">

            <h2 class="centrado">Usuario del sistema</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" (click)='crearUsuario()'>Nuevo Usuario</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <table class="table" *ngIf="usuarios.length > 0">
                <tr>

                    <th>Nombre Completo</th>
                    <th>Usuario</th>
                    <th>Correo Electronico</th>
                    <th>Activo Libranza</th>
                    <th>Ultimo ingreso</th>
                    <th>Fecha modificación</th>
                    <th colspan="2">
                        opcion
                    </th>
                </tr>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{usuario.nombreCompleto}}</td>
                    <td>{{usuario.Login }}</td>
                    <td>{{usuario.mail}}</td>
                    <td>{{usuario.libranza!|booleanP}}</td>
                    <td>{{usuario.ultimo_ingreso }}</td>
                    <td>{{usuario.Fecha_Modif }}</td>
                    <td title="editar usuario"><i class="fas fa-pencil-alt boton_activo" (click)="setActualizaUsuario(usuario)"></i> </td>
                    <td title="agregar cajas"><i class="fas fa-cash-register boton_activo" (click)="setAgregarCajas(usuario)"></i>

                    </td>
                    <td title="Asignar Perfil de Usuario"><i class="fas fa-address-card boton_activo" (click)="setAgregarPerfil(usuario)"></i>

                    </td>

                </tr>


            </table>
        </div>
    </div>
</div>