<li *ngIf="recurso.recursosHijos!.length === 0 && (recurso.direccion != undefined && recurso.direccion.length  > 0 &&  recurso.direccion[0] != '' )" 
    class="nav-item item-drop-down-per">
    <div class="form-check form-switch d-flex align-items-center"> 
  <div class="form-check form-switch">
    <input class="form-check-input"  [(ngModel)] = "recurso.seleccionado"   type="checkbox" id="flexSwitchCheckDefault"> 
  </div>
  <a class="nav-link" >
     {{recurso.display_nombre}}
  </a></div>
</li>

<li *ngIf="recurso.recursosHijos!.length > 0" class="nav-item dropdown item-drop-down-per"  
  [ngClass]="{ 'show': isDropdownActive }"><div class="form-check form-switch d-flex align-items-center">
  <div class="form-check form-switch">
    <input class="form-check-input"  [(ngModel)] = "recurso.seleccionado"   type="checkbox" id="flexSwitchCheckDefault"> 
  </div>
  <a class="nav-link dropdown-toggle"  (click)="showDropdown()"  
      id="navbarDropdown{{recurso.id}}" role="button"
      aria-expanded="false" 
      data-toggle="dropdown"
      aria-haspopup="true">
      {{recurso.display_nombre}}
  </a></div>
  <div class="dropdown-menu" 
      [ngClass]="{ 'show': isDropdownActive }">
      <ul>
          <ng-container *ngFor="let subRecurso of recurso.recursosHijos">
              <li class="dropdown-item" *ngIf="(subRecurso.direccion != undefined && subRecurso.direccion.length  > 0 &&  subRecurso.direccion[0] != '' )">
                  <shared-menu-item-li-check [recurso]="subRecurso"></shared-menu-item-li-check>
              </li>
          </ng-container>
      </ul>
  </div>
</li>