<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="centrado">Usuario del sistema</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" (click)='crearUsuario()'>Nuevo Usuario</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <table class="table" *ngIf="usuarios.length > 0">
                <tr>
                    <th>Nombre Completo</th>
                    <th>Usuario</th> 
                    <th>Activo Libranza</th>
                    <th>Ultimo ingreso</th>
                    <th>Fecha modificación</th>
                    <th  >Opción</th>
                </tr>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{usuario.nombreCompleto}}</td>
                    <td>{{usuario.Login}}</td> 
                    <td>{{usuario.libranza! | booleanP}}</td>
                    <td>{{usuario.ultimo_ingreso}}</td>
                    <td>{{usuario.Fecha_Modif}}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button title="Editar usuario" class="btn btn-outline-primary" (click)="setActualizaUsuario(usuario)">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button title="Agregar cajas" class="btn btn-outline-secondary" (click)="setAgregarCajas(usuario)">
                                <i class="bi bi-cash"></i>
                            </button>
                            <button title="Asignar Perfil de Usuario" class="btn btn-outline-info" (click)="setAgregarPerfil(usuario)">
                                <i class="bi bi-person-badge"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
