<!-- subcuenta.component.html -->
<form #subcuentaForm="ngForm">
    <div class="form-group">
        <label for="codCuenta">Código de Cuenta</label>
        <select id="codCuenta" class="form-control" [(ngModel)]="newSubcuenta.cod_cuenta" name="cod_cuenta" required>
          <option *ngFor="let cuenta of cuentas" [value]="cuenta.cod_cuenta">{{ cuenta.nombre_cuenta }}</option>
        </select>
      </div>
      
    
    <div class="form-group">
      <label for="nroCuenta">Número de Cuenta</label>
      <input type="number" id="nroCuenta" class="form-control" [(ngModel)]="newSubcuenta.nro_cuenta" name="nro_cuenta">
    </div>
    
    
    
    <div class="form-group">
      <label for="nombreCuenta">Nombre de Cuenta</label>
      <input type="text" id="nombreCuenta" class="form-control" [(ngModel)]="newSubcuenta.nombre_cuenta" name="nombre_cuenta">
    </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="!subcuentaForm.form.valid">Submit</button>
  </form>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Listado de Subcuentas</h2>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>ID Cuenta</th>
              <th>Código Cuenta</th>
              <th>Número Cuenta</th>
              <th>Nombre Cuenta</th>
              <th>Modificar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subcuenta of Subcuentas">
              <td>{{ subcuenta.id_scuenta }}</td>
              <td>{{ subcuenta.nro_scuenta }}</td>
              <td>{{ subcuenta.nombre_scuenta }}</td> 
              <td>
                <button class="btn btn-primary" (click)="modificarSubcuenta(subcuenta)">
                  <i class="bi bi-pencil-fill"></i> Modificar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  