
<div class="container-fluid pt-4 pb-4 modal_container " style="min-width: 550px !important;"> 
    
    <div class="row"   > 
        <div class="col-sm-10 " >  
    
    <div class="row"   >
        <div class="col-sm-12 custom-container" >
            <h3 class="mb-0">Ejecutar Traslado&nbsp;&nbsp;:&nbsp;</h3> <h5 class="mb-0 ml-2" >{{dataProceso?.nombre}}</h5> 
        </div>
    </div> 
    
    <div class="row" style="margin-top: 5px;"   > 
        <div class="col-sm-12 custom-container">
            <h3 class="mb-0">Caja&nbsp;origen&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</h3> 
            <h5 class="mb-0 ml-2" >
                <select class="form-control"   [(ngModel)] = 'cajaSeleccionada'>
                    <option [ngValue] ="i" *ngFor="let item of cajas ;  let i  = index ">{{item.nombre}}</option>
                </select>
            </h5>
        </div>
    </div> 
    <div class="row" style="margin-top: 5px;"   > 
        <div class="col-sm-12 custom-container">
            <h3 class="mb-0">Valor&nbsp;traslado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</h3> 
            <h5 class="mb-0 ml-2" >
                <input class="form-control" type="number" [(ngModel)] = 'valorTraslado'/>
            </h5>
        </div>
    </div>  
    <div class="row" style="margin-top: 5px;"   > 
        <div class="col-sm-12 custom-container">
            <h3 class="mb-0">Tipo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</h3> 
            <h5 class="mb-0 ml-2" >{{dataProceso?.tipo}}</h5>
        </div>
    </div>  
        <div class="row"   >
            <div class="col-sm-12" style="size: 7px;"> 
              {{dataProceso!.descripcion}}
        </div> 
    </div> 

</div> 
        <div class="col-sm-2" >
          <button class="btn btn-success" (click)="ejecutar()" >Ejecutar</button>
        </div>

    </div> 




    <div class="row" *ngFor="let item of dataProceso?.cuentas"  >  
        <div class="col-sm-2" >
        {{item.cuenta}}
       </div>
       <div class="col-sm-4" >
        {{item.nombre}}
       </div><div class="col-sm-1" >
        {{item.tipo}}
       </div>
        
    </div> 
</div>