
<div *ngIf="continuar; else ErrorEstablecimiento">
<div *ngIf="documentoActivo != undefined" class="container-fluid" (click)='irbuscarProducto()' (keyup)='irbuscarProducto()'>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="centrado">Punto De Venta {{documentoActivo!.nombreEsta}}
                <h4 class="centrado subtitulosEspeciales"> {{documentoActivo!.nombreCaja}}</h4>
            </h3>
        </div>
    </div>
    <div class="row"> 
        <div class="col-sm-12 col-lg-9">
            <div class="row"> 
                <div 
                class="col-sm-12 col-lg-3 colCliente" 
               >
                    <span>Cliente</span> 
                    <div class="input-group mb-3">
                        <div class="d-flex input-group">  
                            <div class="btn-group dropend">
                                <button type="button"class="btn btn-outline-success "> 
                                        <span>{{documentoActivo!.clienteNombre!}}</span>
                                </button>
                                <button type="button" class="btn btn-info" 
                                title="Añadir cliente al Documento" 
                                (click)='buscarCliente()'><i class="bi bi-person"></i>&nbsp;
                           </button>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-sm-7 col-lg-4 colVendedor" >
                    <span>Vendedor</span>
                    <div class="input-group mb-3">
                        <elemt-empDropdown   (selectionChange)="cambiarVendedor($event);"
                       [selectedValue]="empleadoActivo" 
                        ></elemt-empDropdown> </div>
                </div>
                <div class="col-sm-5 col-lg-3 colDocumentos" >
                    <span>documentos</span>
                    <div class="input-group mb-3">  
                        <elemt-docDropdown [options] ="documentos" (clickBtnRefress)="getDocumentos()" (selectionChange)="cambiarDocumentoActivo($event);"
                        [selectedValue]="documentoActivo" ></elemt-docDropdown> 
                     </div>
                </div>
                <div class="col-sm-12 col-lg-2">
                    <span> Cod producto</span>
                    
                    <div class="input-group mb-3">
                        <input class="o_input form-control" (focus)="codigoProducto = ''" (keyup.enter)='buscarProducto()' #codProd type="text" [(ngModel)]="codigoProducto"  placeholder="Buscar" aria-label="Buscar"/>
                   
                        <button (click)='buscarProducto()' class="btn btn-outline-secondary" type="button">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-12 tablaProductos" >
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr  style="text-align: center;" >
                                <th>&nbsp;</th>
                                <th>Descripcion</th>
                                <th>Precio</th>
                                <th>Descuento</th>
                                <th>IVA</th>
                                <th>Cant</th>
                                <th>Total</th> <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let item of documentoActivo!.listado">
                                <td>
                                    <i *ngIf="item.estado_linea_venta == 'A'" class="bi bi-x-circle" style="cursor:pointer" (click)="eliminarLinea(item)"></i>
                                </td>
                                <td>{{item.nombreProducto}}</td>
                                <td style="text-align: right;" >{{item.presioSinIVa|currency}}</td>
                                <td style="text-align: right;" >{{item.descuento|currency}}</td>
                                <td style="text-align: right;" >{{item.IVA|currency}}</td>
                                <td style="text-align: right;" >{{item.cantidadVendida}}</td>
                                <td style="text-align: right;" >{{item.valorTotal|currency}}</td>
                                <td>
                                    <i *ngIf="item.estado_linea_venta == 'A'" class="bi bi-pencil" style="cursor:pointer" (click)="editar(item)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              
            </div>            
        </div>
        <div class="col-sm-12 col-lg-3">
          <div class="row">
            <div class="col-sm-12 col-lg-12" style="padding: 0px;"> 
                    <div class="btn-group" role="group" aria-label="Basic example"  style="width: 100%;">
                        <button type="button" class="btn btn-success" title="Facturar" (click)='asignarPagosAVenta()'><i class="bi bi-check2-all"></i></button>
                        <button type="button" class="btn btn-primary" title="Crear Documento" (click)='crearDocumento()'><i class="bi bi-plus"></i>&nbsp;<i class="bi bi-file-earmark"></i></button>
                        <button type="button" class="btn btn-danger" title="Eliminar Documento" (click)='cancelarDocumento()'><i class="bi bi-trash"></i>&nbsp;<i class="bi bi-file-earmark"></i></button>
                        <button type="button" class="btn btn-warning" title="Busqueda Producto" (click)='busquedaAuxiliarProducto()'><i class="bi bi-search"></i>&nbsp;<i class="bi bi-file-earmark"></i></button>
                        <button *ngIf="planSepare" type="button" class="btn btn-success" style="background-color: #67b4e0;" title="plan separe"><i class="bi bi-hand-index-thumb"></i>&nbsp;<i class="bi bi-shop"></i></button>
                        <button *ngIf="pasaAotraCaja" type="button" title="Mover Documento a otra caja" (click)='moverDocumentoCaja()' class="btn btn-danger" style="background-color: #4d4444; border-color: #4d4444;"><i class="bi bi-arrow-left-right"></i>&nbsp;<i class="bi bi-cash"></i></button>
                    </div>
            </div> 
          </div> 
          <div class="row">
             <div class="col-sm-12 col-lg-12" style="padding: 0px;">  
             <div class="btn-group" role="group"  style="width: 100%; margin-top: 5px;margin-bottom: 5px;"  aria-label="Basic example">
                <button type="button" class="btn btn-success" title="Remision" (click)='asignarPagosARemision()'><i class="bi bi-check2-all"></i>Rem</button> 
                <button *ngIf="CrtGasto" type="button" class="btn" (click)="generarGasto()" style="background-color: rgb(197, 174, 69);" 
                title="Ingresar Nuevo Gasto">
                <i class="bi bi-file-earmark-plus"></i> </button>
                <button *ngIf="cotiza" type="button" class="btn btn-info" (click)="crearCotizacion()" title="Guardar Como cotizacion"><i class="bi bi-hand-index-thumb"></i> Cotizacion</button>
                 
                <button type="button" class="btn btn-primary" 
                (click)="generarAbonosCuentasXcobrar()" title="Generar abonos de cuentas por cobrar" >
                    <i class="bi bi-receipt"></i> CxC
                  </button>
            
            </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-lg-12" style="padding: 0px;"> 
                    <div class="btn-group" role="group"  style="width: 100%; margin-top: 5px;margin-bottom: 5px;"  aria-label="Basic example">
                        <button *ngIf="ingresoServicio" (click)="ingresarServicio()"   type="button" class="btn btn-primary">
                            <i class="bi bi-car-front-fill"></i> <i class="bi bi-wrench"></i>  
                          </button>
                        <button *ngIf="domicilio" type="button" class="btn" (click)="generarEnvio()" style="background-color: rgb(41, 39, 39);" title="Guardar como Envio"><img src="assets/img/img_menu_interno/deliveri_truck.png" style="width:30px;height:30px" /></button>
                        <button *ngIf="libranza" type="button" class="btn btn-success" (click)="generarLibranza()" title="Libranza"><i class="bi bi-hand-index-thumb"></i> Libranza</button>
                        
                    
                    </div>
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-12 col-lg-12" style="padding: 0px;"> 
                <table class="table" style="width: 100%;">
                <tr>
                    <th colspan="2">
                        <h3 style="color: coral;">Medios de Pago</h3>
                    </th>
                </tr>
                <tr *ngFor="let medio of MedioP; let i = index">
                    <td   style="text-align: right; text-wrap: nowrap; font-weight: bold;" >{{medio.nombre}}</td>
                    <td><input class="o_input form-control" readonly type="number" [(ngModel)]='MedioP[i].valor_aux'></td>
                </tr>
                </table>
            </div>
          </div>
        </div>  
    </div> 
    <div class="row">
        <div class="col-sm-12 col-lg-5"> 
            <div class="row">
                <hr class="division"> 
                <div class="col-sm-2 col-lg-2">
                    <span>subTotal : </span>
                    <span class="text-end">{{documentoActivo!.valorParcial | currency}}</span>
                </div>
                <div class="col-sm-2 col-lg-2">
                    <span>Descuento : </span>
                    <span class="text-end">{{documentoActivo!.descuento | currency}}</span>
                </div>
                <div class="col-sm-2 col-lg-2">
                    <span>Iva    : </span>
                    <span class="text-end">{{documentoActivo!.valorIVA | currency}}</span>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <span>Otros impuestos : </span>
                    <span class="text-end">{{'0' | currency}}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-5"> 
        <div class="row"> 
            <hr class="division">
            <div class="col-sm-4 col-lg-2">
                <span>Total : </span>
                <span class="text-end">{{documentoActivo!.valorTotal | currency}}</span>
            </div>
            <div class="col-sm-4 col-lg-2">
                <span>Ajuste : </span>
                <span class="text-end">{{documentoActivo!.ajusteAlpeso | currency}}</span>
            </div>
            <div class="col-sm-4 col-lg-3">
                <span>Total Factura : </span>
                <span class="text-end">{{documentoActivo!.totalFactura | currency}}</span>
            </div> 
        </div>
        </div>  
        <div class="col-sm-12 col-lg-2">
        </div>
</div> 
</div>
</div>

<ng-template #ErrorEstablecimiento>
    <div class="container">
        <div class="row mt-4" >
            <div class="col-sm-12 mt-4">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Error en los datos necesarios del establecimiento</h4>
                    <p>Contacte con su administrador para que valide que todos los parámetros necesarios del establecimiento estén correctos.</p>
                    <hr>
                    <p class="mb-0">Si el problema persiste, por favor proporcione detalles adicionales a su administrador.</p>
                </div>
            </div>
        </div>
    </div></ng-template>