
<div *ngIf="continuar; else ErrorEstablecimiento">
<div *ngIf="documentoActivo != undefined" class="container-fluid" (click)='irbuscarProducto()' (keyup)='irbuscarProducto()'>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="centrado">Punto De Venta {{documentoActivo!.nombreEsta}}
                <h4 class="centrado subtitulosEspeciales"> {{documentoActivo!.nombreCaja}}</h4>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <td>Cliente</td>
                    <td style="width: 260px;">Vendedor</td>
                    <td> documentos</td>
                    <td colspan="2"> Cod producto</td>
                </tr>
                <tr>
                    <td>{{documentoActivo!.clienteNombre!}}</td>
                    <td>{{documentoActivo!.vendedorNombre!}}</td>
                    <td>
                        <div class="input-group mb-3">  
                           <elemt-docDropdown [options] ="documentos" (clickBtnRefress)="getDocumentos()" (selectionChange)="cambiarDocumentoActivo($event);"
                           [selectedValue]="documentoActivo" ></elemt-docDropdown> 
                        </div>
                    </td>
                    <td>
                        
                        <div class="input-group mb-3">
                            <input class="o_input form-control" (keyup.enter)='buscarProducto()' #codProd type="text" [(ngModel)]="codigoProducto"  placeholder="Buscar" aria-label="Buscar"/>
                       
                            <button (click)='buscarProducto()' class="btn btn-outline-secondary" type="button">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7" style="min-height: 285px; overflow:auto;">
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Descripcion</th>
                        <th>Cant</th>
                        <th>Precio</th>
                        <th>Descuento</th>
                        <th>IVA</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of documentoActivo!.listado">
                        <td><i *ngIf="item.estado_linea_venta == 'A'" class="bi bi-x-circle" style="cursor:pointer" (click)="eliminarLinea(item)"></i></td>
                        <td>{{item.nombreProducto}}</td>
                        <td>{{item.cantidadVendida}}</td>
                        <td>{{item.presioSinIVa}}</td>
                        <td>{{item.descuento}}</td>
                        <td>{{item.IVA}}</td>
                        <td>{{item.valorTotal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-5">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success" title="Facturar" (click)='asignarPagosAVenta()'><i class="bi bi-check2-all"></i></button>
                <button type="button" class="btn btn-primary" title="Crear Documento" (click)='crearDocumento()'><i class="bi bi-plus"></i>&nbsp;<i class="bi bi-file-earmark"></i></button>
                <button type="button" class="btn btn-info" title="Añadir cliente al Documento" (click)='buscarCliente()'><i class="bi bi-person"></i>&nbsp;<i class="bi bi-file-earmark"></i></button>
                <button type="button" class="btn btn-danger" title="Eliminar Documento" (click)='cancelarDocumento()'><i class="bi bi-trash"></i>&nbsp;<i class="bi bi-file-earmark"></i></button>
                <button type="button" class="btn btn-warning" title="Busqueda Producto" (click)='busquedaAuxiliarProducto()'><i class="bi bi-search"></i>&nbsp;<i class="bi bi-file-earmark"></i></button>
                <button *ngIf="planSepare" type="button" class="btn btn-success" style="background-color: #67b4e0;" title="plan separe"><i class="bi bi-hand-index-thumb"></i>&nbsp;<i class="bi bi-shop"></i></button>
                <button *ngIf="pasaAotraCaja" type="button" title="Mover Documento a otra caja" (click)='moverDocumentoCaja()' class="btn btn-danger" style="background-color: #4d4444; border-color: #4d4444;"><i class="bi bi-arrow-left-right"></i>&nbsp;<i class="bi bi-cash"></i></button>
            </div>
            <div class="btn-group" role="group" style="margin-top: 5px;" aria-label="Basic example">

                <button *ngIf="CrtGasto" type="button" class="btn" (click)="generarGasto()" style="background-color: rgb(197, 174, 69);" 
                title="Ingresar Nuevo Gasto">
                <i class="bi bi-file-earmark-plus"></i> </button>
            
                <button *ngIf="domicilio" type="button" class="btn" (click)="generarEnvio()" style="background-color: rgb(41, 39, 39);" title="Guardar como Envio"><img src="assets/img/img_menu_interno/deliveri_truck.png" style="width:100%;height:30px" /></button>
                <button *ngIf="libranza" type="button" class="btn btn-success" (click)="generarLibranza()" title="Libranza"><i class="bi bi-hand-index-thumb"></i> Libranza</button>
                <button *ngIf="cotiza" type="button" class="btn btn-info" (click)="crearCotizacion()" title="Guardar Como cotizacion"><i class="bi bi-hand-index-thumb"></i> Cotizacion</button>
                 
                <button type="button" class="btn btn-primary" 
                (click)="generarAbonosCuentasXcobrar()" title="Generar abonos de cuentas por cobrar" >
                    <i class="bi bi-receipt"></i> CxC
                  </button>
            
            </div>
            <table class="table">
                <tr>
                    <td colspan="2">
                        <h3 style="color: coral;">Medios de Pago</h3>
                    </td>
                </tr>
                <tr *ngFor="let medio of MedioP; let i = index">
                    <td><b>{{medio.nombre}}</b></td>
                    <td><input class="o_input form-control" readonly type="number" [(ngModel)]='MedioP[i].valor_aux'></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>subTotal</th>
                        <th>Descuento</th>
                        <th>Iva</th>
                        <th>Otros impuestos</th>
                        <th>Total</th>
                        <th>Ajuste</th>
                        <th>TotalFactura</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{documentoActivo!.valorParcial}}</td>
                        <td>{{documentoActivo!.descuento}}</td>
                        <td>{{documentoActivo!.valorIVA}}</td>
                        <td>0</td>
                        <td>{{documentoActivo!.valorTotal}}</td>
                        <td>{{documentoActivo!.ajusteAlpeso}}</td>
                        <td>{{documentoActivo!.totalFactura}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<ng-template #ErrorEstablecimiento>
    <div class="container">
        <div class="row mt-4" >
            <div class="col-sm-12 mt-4">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Error en los datos necesarios del establecimiento</h4>
                    <p>Contacte con su administrador para que valide que todos los parámetros necesarios del establecimiento estén correctos.</p>
                    <hr>
                    <p class="mb-0">Si el problema persiste, por favor proporcione detalles adicionales a su administrador.</p>
                </div>
            </div>
        </div>
    </div></ng-template>