.colCliente .btn-group{
    width: 100% !important;
} 
.colCliente .btn-group .btn-info {
    width: 1% !important;
} 
elemt-empdropdown { width: 100% !important;
}  
elemt-empdropdown btn-group{
    width: 100% !important;
}  
elemt-docdropdown {
    width: 100% !important;
}   
.borde , .borde_general{
    border: 1px solid gray; padding-top: 5px;padding-bottom: 5px;
}
.borde_general{  border-radius: 10px; background-color: #e4e5eb;
}
elemt-docdropdown btn-group{
    width: 100% !important;
}   
@media (max-width: 861px){ 
    .division{display:inline;}
}
@media (min-width: 862px){
.colDocumentos{max-width: 270px !important;}
.colVendedor{max-width: 370px !important;}
.colCliente{max-width: 270px !important;}
.tablaProductos{
    min-height: 320px !important; overflow:auto !important;
}


}