<div class="container">
    <div class="row">
        <div class="col-sm-12 centrado">
            <h1>Cierres de Caja</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 centrado"></div>
        <div class="col-sm-10 centrado">
            <div class="row">
                <div class="col-sm-8 centrado">
                    <div class="row">
                        <div class="col-sm-6 centrado">
                            <h4>Tipo de Fecha a buscar</h4>
                        </div>
                        <div class="col-sm-6 centrado">
                            <div class="form-group">
                                <select class="form-control" name="" id="">
                               <option value="1">Fecha Inicio del Cierre</option>
                               <option value="2">Fecha Fin del Cierre</option>
                             </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 centrado">
                            <label class=" col-sm-12">Inicio</label>
                            <input type="date" class="form-control col-sm-12"></div>
                        <div class="col-sm-6 centrado">
                            <label class=" col-sm-12">Fin</label>
                            <input type="date" class="form-control col-sm-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-12 centrado">
            <table class="table">
                <tr>
                    <td>fecha inicio</td>
                    <td>fecha cierre</td>
                    <td>Base</td>
                    <td>Subtotal</td>
                    <td>IVA</td>
                    <td>Descuento</td>
                    <td>Total</td>
                    <td>caja</td>
                    <td>Usuario Abre</td>
                    <td>Usuario cierre</td>
                    <td>opciones</td>

                </tr>
                <tr *ngFor="let item of cierres">
                    <td>{{item.fecha_apertura}}</td>
                    <td>{{item.fecha_cierre}}</td>
                    <td>{{item.base}}</td>
                    <td>{{item.sub_total_venta}}</td>
                    <td>{{item.total_iva}}</td>
                    <td>{{item.total_descuento}}</td>
                    <td>{{item.total_venta}}</td>
                    <td>{{item.nombreCajaCierre}}</td>
                    <td>{{item.nombreUsuarioApertura}}</td>
                    <td>{{item.nombreUsuarioCierre}}</td>
                    <td>
                        <i (click)="mostrarCierresParciales(item)" class="fab fa-product-hunt boton_activo" title="mostrar cierres parciales"></i> &nbsp; &nbsp;
                        <i title="mostrar los pagos del cierre" _ngcontent-use-c192="" (click)="mostrarCierresPagos(item)" aria-hidden="true" class="far fa-money-bill-alt boton_activo"></i> &nbsp; &nbsp;
                        <i (click)="mostrarProductosVendidosPorCierre(item)" class="fas fa-cart-plus boton_activo" title="mostrar los productos vendidos del cierre"></i>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>