<div class="container-fluit"> <h2>Crear Descuento Actividad</h2>
    <form [formGroup]="actividadForm" (ngSubmit)="onSubmitActividad()">
     <div class="row"> <div class="col">
        <label for="nombre" class="form-label">Nombre</label>
        <input id="nombre" class="form-control" formControlName="nombre">
      </div>
    
      <div class="col">
        <label for="fechaInicial" class="form-label">Fecha Inicial</label>
        <input id="fechaInicial" type="date" class="form-control" formControlName="fechaInicial">
      </div>
      <div class="col">
        <label for="fechaFinal" class="form-label">Fecha Final</label>
        <input id="fechaFinal" type="date" class="form-control" formControlName="fechaFinal">
      </div>
      <div class="col">
        <label for="tipo" class="form-label">Tipo</label>
        <select id="tipo" (change)="cambiarListado()" class="form-select" formControlName="tipo">
          <option value="">seleccione un tipo de actividad</option>
          <option value="PRD">Descuento por Productos</option>
          <option value="CAT">Descuento por Categorías</option>
          <option value="CLI">Descuento por Clientes</option>
          <option value="BRD">Descuento por Marcas</option>
        </select>
      </div>
      <div class="col">
        <label for="estado" class="form-label">Estado</label>
        <select id="estado" class="form-select" formControlName="estado">
          <option value=1>Activo</option>
          <option value=0>Inactivo</option>
        </select>
      </div>
      <div class="col">
        <label for="idDescuento" class="form-label">ID Descuento</label> 
        <select id="idDescuento" class="form-select" formControlName="idDescuento">
            <option value="">seleccione descuento</option>
            <option *ngFor="let item of descuentos" value="item.id">{{item.nombre}}</option> 
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea id="descripcion" class="form-control" formControlName="descripcion"></textarea>
      </div> 

      <div class="col-sm-2">  
        <br>
      <button type="submit" class="btn btn-primary">Guardar Actividad</button></div>
    
      <div class="col-sm-2">  
        <br>
      <button type="button" (click)="abrirBusqueda()" class="btn btn-primary">Ingresar item</button></div>
    </div>
    </form> 
<hr>
    <div class="row" *ngIf="showprd" >
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th colspan="4">Productos Seleccionados<th>
                </tr>
                <tr  *ngFor="let item of productos" >
                    <td>{{item.nombre}}</td><td>{{item.nombre2}}</td><td>{{item.nombre3}}</td><td>
                        <button class="btn btn-danger" (click)="eliminarPrdTemp(item.id)"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div> 
    <div class="row" *ngIf="showcat" >
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th colspan="3">Categorias Seleccionadas<th>
                </tr>
                <tr  *ngFor="let item of categorias">
                    <td>{{item.nombre}}</td><td> </td><td> </td>
                </tr>
            </table>
        </div>
    </div> 
    
    <div class="row" *ngIf="showmar" >
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th colspan="3">Marcas Seleccionadas<th>
                </tr>
                <tr  *ngFor="let item of marcas">
                    <td>{{item.nombre}}</td><td> </td><td> </td>
                </tr>
            </table>
        </div>
    </div> 
  
    <div class="row" *ngIf="showcli" >
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th colspan="3">Clientes Seleccionados<th>
                </tr>
                <tr  *ngFor="let item of clientes">
                    <td>{{item.nombreCompleto}}</td><td>{{item.numIdentificacion}}</td><td>{{item.email}}</td>
                </tr>
            </table>
        </div>
    </div> 
</div>