<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="">Caja establecida: {{cajaEStablecida.nombre}} - 
                <i title="Establecer caja" (click)="establecerCaja()" 
                class="bi bi-piggy-bank-fill boton_activo"></i>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="centrado">Ingreso de vehículos</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2"># Placa</div>
        <div class="col-sm-3">
            <input type="text" [(ngModel)]="ingreso.placaVehiculo" (keyup.enter)="validarPlaca()" (blur)="validarPlaca()" class="form-control" placeholder="Número de placa">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">Propietario</div>
        <div class="col-sm-3">
            <input type="text" [(ngModel)]="ingreso.propietario" class="form-control" placeholder="Nombre propietario">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">Teléfono</div>
        <div class="col-sm-3">
            <input type="text" [(ngModel)]="ingreso.telefono" class="form-control" placeholder="Número de teléfono">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">Tipo de vehículo</div>
        <div class="col-sm-3">
            <select class="form-control" (change)="getServiciosVehiculos()" [(ngModel)]="ingreso.cod_tipo_vehiculo">
                <option value="0">Escoger Tipo Vehículo</option>
                <option *ngFor="let vehiculo of tiposVehiculo" [value]="vehiculo.id">{{vehiculo.nombre}}</option> 
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">Tipo de servicio</div>
        <div class="col-sm-3">
            <select class="form-control" [(ngModel)]="tipo_servicio" (change)="mostrarServicioPorTipo()"> 
                <option value="0">Escoger Tipo de servicio</option> 
                <option *ngFor="let tpServicio of tiposServicio" [value]="tpServicio.id">{{tpServicio.nombre}}</option> 
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">Servicio</div>
        <div class="col-sm-3">
            <select class="form-control" (change)="optenerValor()" [(ngModel)]="ingreso.cod_servicio">
                <option *ngFor="let Servicio of serviciosAmostrar" [value]="Servicio.id">{{Servicio.nombre}}</option> 
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">Empleado Asignado</div>
        <div class="col-sm-3">
            <select class="form-control" [(ngModel)]="ingreso.lavador"> 
                <option value="0">Escoger lavador</option> 
                <option *ngFor="let empleado of empleados" [value]="empleado.id">{{empleado.persona?.nombreCompleto}}</option> 
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <button type="button" (click)="generarIngresoApatios()" class="btn btn-success">Enviar</button>
                <button type="button" (click)="cancelar()" class="btn btn-danger">Cancelar</button>
            </div>
        </div>
        <br>
    </div>
</div>
