<div class="container-fluid modal_container">
    <br>
    <div class="row"> 
        <div class="col-sm-12  ">
            <table class="table" >
                <tbody>
                    <tr><td>Nombre</td><td>Cantidad</td><td>Precio sin iva</td><td>Descuento</td><td>IVA</td><td>Total</td><td></td></tr>
                    <tr>
                        <td><input type="text" [(ngModel)] = 'item.nombreProducto' class="form-control" > </td>
                        <td> <input readonly type="text" [(ngModel)] = 'item.cantidadVendida' class="form-control" ></td>
                        <td> <input readonly type="number" [(ngModel)] = 'item.presioSinIVa' class="form-control" > </td>
                        <td> 
                           
                            <div class="input-group mb-3">  
                                 <input type="number" [(ngModel)] = 'item.descuento' readonly class="form-control" >
                                <input type="number" [(ngModel)] = 'descuento' (keyup.enter)="cambioValor()" class="form-control" >
                            <select class="form-control"  (change)="cambioValor()" [(ngModel)] = 'item.tipoDescuento' >
                                <option value="porcentaje" >%</option>
                                <option value="valor"      >valor</option>
                            </select>
                             </div>
                        </td>
                        <td>  <input readonly type="text" [(ngModel)] = 'item.IVA' class="form-control" > </td>
                        <td> <input readonly type="text" [(ngModel)] = 'item.valorTotal' class="form-control" >  </td>
                        <td>
                           <button class="btn btn-success" (click)="editar()">
                            <i *ngIf="item.estado_linea_venta == 'A'" class="bi bi-pencil" style="cursor:pointer" ></i>
                           </button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>