<div class="container-fluid modal_container"> 
    <div class="row"> 
        <div class="col-sm-6 ">
<span>Nombre </span><input type="text" [(ngModel)] = 'item.nombreProducto' class="form-control" > 
</div> 
<div class="col-sm-1 ">
    <button class="btn btn-success"  [disabled]="disable"  (click)="editar()">
     <i *ngIf="item.estado_linea_venta == 'A'" class="bi bi-pencil" style="cursor:pointer" ></i>
    </button> 
         </div></div> <hr>
        <div class="row"> 
        
                <div class="col-sm-1  "><span>Cantidad</span><input (keyup.enter)="cambioValor()"  (blur)="cambioValor()"  type="number" 
                    [(ngModel)] = 'item.cant_real_descontada' class="form-control" >
                </div> 
                    <div class="col-sm-1  ">
                        <span>Precio sin iva</span><input readonly type="number" [(ngModel)] = 'item.presioSinIVa' class="form-control" >
                    </div> 
                    <div class="col-sm-3  ">
                        <span>Descuento</span> 
                        <div class="input-group mb-3">  
                             <input type="number" [(ngModel)] = 'item.descuento' readonly class="form-control" >
                            <input type="number" [(ngModel)] = 'descuento' (keyup.enter)="cambioValor()"  (blur)="cambioValor()" class="form-control" >
                        <select class="form-control"  (change)="cambioValor()" [(ngModel)] = 'item.tipoDescuento' >
                            <option value="porcentaje" >%</option>
                            <option value="valor"      >valor</option>
                        </select>
                         </div>
                    </div> 
                    <div class="col-sm-2  ">
                        <span>IVA(%)</span> 
                        <div class="input-group mb-3">  
                         <input   (keyup.enter)="cambioValor()"  (blur)="cambioValor( )"   type="text" [(ngModel)] = 'item.porcent_iva' class="form-control" >
                                <input readonly type="text" [(ngModel)] = 'item.IVA' class="form-control" ></div>
                           </div>
                                <div class="col-sm-2  ">
                                    <span>Precio de Compra</span> <input  (keyup.enter)="cambioValor('precioCompra')" (blur)="cambioValor('precioCompra')"   type="text" [(ngModel)] = 'item.presioVenta' class="form-control" >  </div>
                                 
                                    <div class="col-sm-2  ">
                                        <span>Total</span> <input readonly type="text" [(ngModel)] = 'item.valorTotal' class="form-control" >  </div>
                                    </div> 
        
        </div> 