<div class="container-fluid contenedor" style="overflow-y: auto;width: 100%; height: 92%;">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="centrado">Creación de Establecimientos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">&nbsp;</div> 
        <div class="col-sm-2"><span>Nombre</span>
            <input type="text" class="form-control" [(ngModel)]="newEsta.nombre" placeholder="Nombre del Establecimiento...">
        </div> 
        <div class="col-sm-1"><span>Estado</span>
            <select class="form-control" [(ngModel)]="newEsta.estado">
                <option value=0>Estado</option>
                <option value=1>Activo</option>
                <option value=2>Inactivo</option>
            </select>
        </div> 
        <div class="col-sm-2"><span>Tipo establecimiento</span>
            <div class="btn-group" role="group" aria-label="Basic example">
                <select class="form-control" [(ngModel)]="newEsta.tipo">
                <option value=0>Tipo Establecimiento</option>
                <option *ngFor="let item of tiposEsta" [ngValue]="item.id">{{item.nombre}}</option> 
            </select>
                <button class="btn btn-success" (click)='mantenerTiposEsta()'><i class="bi bi-gear"></i></button>
            </div>
        </div> 
        <div class="col-sm-2"><span>Bodega Fisica</span>
            <select class="form-control"   [(ngModel)]="newEsta.idBodegaStock"> 
                <option *ngFor="let item of locationStore" [ngValue]="item.id">{{item.nombre}}</option> 
            </select>
        </div>
    </div> 
    <div class="row"> 
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <span>Nit : </span>
            <input class="form-control"   [(ngModel)]="newEsta.nit"/>
        </div>
        <div class="col-sm-2">
            <span>departamento : </span>
            <input class="form-control"   [(ngModel)]="newEsta.departamento"/>
        </div>
        <div class="col-sm-2">
            <span>ciudad : </span>
            <input class="form-control"   [(ngModel)]="newEsta.ciudad"/>
        </div>
      
    </div>
        <div class="row">  
            <div class="col-sm-2"></div>  <div class="col-sm-3"> 
                <span>direccion : </span>
                <input class="form-control"   [(ngModel)]="newEsta.direccion"/>
            </div> 
            <div class="col-sm-2">
                <span>telefono 1 : </span>
                <input class="form-control"   [(ngModel)]="newEsta.tel1"/>
            </div>
            <div class="col-sm-2">
                <span>telefono 2 : </span>
                <input class="form-control"   [(ngModel)]="newEsta.tel2"/>
            </div>
    </div>
    <hr> 
    <div class="row"> 
        <div class="col-sm-2">&nbsp;</div>
        
        <div class="col-sm-3"><span>Descripción</span>
            <textarea [(ngModel)]="newEsta.descripcion" class="form-control" placeholder="Descripcion..."></textarea>
        </div>
        <div class="col-sm-3 justify-content-center">
            <button class="btn btn-outline-primary" role="button" (click)='guardarCaja()'>
                <i class="bi bi-save"></i> Guardar
            </button>
            <button class="btn btn-outline-danger" role="button" (click)='Cancelar()'>
                <i class="bi bi-trash"></i> Cancelar
            </button>
        </div>
    </div>

    <hr> 
 <div class="row">
 <h4>Compras</h4>

    <div class="col-sm-3" >
        <label for="establecimientoCaja">Cuenta para retefuente</label> 
        <div class="input-group mb-3">
           
            <input type="text" class="form-control" readonly placeholder="cuenta retefuente" [(ngModel)]="newEsta.nombreRetefuenteCompra" name="nombreRetefuenteCompra"  aria-label="Username"  aria-describedby="basic-addon1">  
            <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables("retefuenteCompra")'>
                <i class="bi bi-search"></i>  
            </button>
        </div>
    </div>
    <div class="col-sm-3" >
        <label for="establecimientoCaja">Cuenta Para obligaciones</label> 
        <div class="input-group mb-3">
           
            <input type="text" class="form-control" readonly placeholder="cuenta obligaciones" [(ngModel)]="newEsta.nombreCCntCPagar" name="nombreCCntCPagar"  aria-label="Username"  aria-describedby="basic-addon1">  
            <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables("cuentasPorPagar")'>
                <i class="bi bi-search"></i>  
            </button>
        </div>
    </div>
    <div class="col-sm-3"  >
        <label for="establecimientoCaja">Cuenta para iva en compra</label> 
        <div class="input-group mb-3">
           
            <input type="text" class="form-control" readonly placeholder="cuenta iva en compra" [(ngModel)]="newEsta.nombreCCntIvaCompra" name="nombreCCntIvaCompra"  aria-label="Username"  aria-describedby="basic-addon1">  
            <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables("ivaEnCompras")'>
                <i class="bi bi-search"></i>  
            </button>
        </div>
    </div>
    
    <div class="col-sm-3" >
        <label for="establecimientoCaja">Cuenta para descuento</label> 
        <div class="input-group mb-3"> 
            <input type="text" class="form-control" readonly placeholder="cuenta retefuente" [(ngModel)]="newEsta.nombreDescuentoCompra" name="nombreRetefuenteCompra"  aria-label="Username"  aria-describedby="basic-addon1">  
            <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables("descuentoCompra")'>
                <i class="bi bi-search"></i>  
            </button>
        </div>
    </div>

 </div>


 <div class="row"> 
    <h4>Ventas</h4>
    
    <div class="col-sm-3" >
        <label for="establecimientoCaja">Cuenta para retefuente</label> 
        <div class="input-group mb-3">
           
            <input type="text" class="form-control" readonly placeholder="cuenta retefuente" [(ngModel)]="newEsta.nombreRetefuenteVenta" name="nombreRetefuenteCompra"  aria-label="Username"  aria-describedby="basic-addon1">  
            <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables("retefuenteVenta")'>
                <i class="bi bi-search"></i>  
            </button>
        </div>
    </div>
    
    <div class="col-sm-3" >
        <label for="establecimientoCaja">Cuenta para descuento</label> 
        <div class="input-group mb-3"> 
            <input type="text" class="form-control" readonly placeholder="cuenta retefuente" [(ngModel)]="newEsta.nombreDescuentoVenta" name="nombreRetefuenteCompra"  aria-label="Username"  aria-describedby="basic-addon1">  
            <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables("descuentoVenta")'>
                <i class="bi bi-search"></i>  
            </button>
        </div>
    </div>
    <div class="col-sm-3" >
        <label for="establecimientoCaja">Cuenta Para cartera</label> 
        <div class="input-group mb-3">
           
            <input type="text" class="form-control" readonly placeholder="cuenta cartera" [(ngModel)]="newEsta.nombreCCntCCobrar" name="nombreCCntCCobrar"  aria-label="Username"  aria-describedby="basic-addon1">  
            <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables("cuentasPorCobrar")'>
                <i class="bi bi-search"></i>  
            </button>
        </div>
    </div>

   
    <div class="col-sm-3"  >
        <label for="establecimientoCaja">Cuenta Para iva en ventas</label> 
        <div class="input-group mb-3">
           
            <input type="text" class="form-control" readonly placeholder="cuenta iva en ventas" [(ngModel)]="newEsta.nombreCCnttIvaVenta" name="nombreCCnttIvaVenta"  aria-label="Username"  aria-describedby="basic-addon1">  
            <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables("ivaEnVenta")'>
                <i class="bi bi-search"></i>  
            </button>
        </div>
    </div> 
    <div class="col-sm-3"  >
        <label for="establecimientoCaja">Cuenta Para costo en ventas</label> 
        <div class="input-group mb-3">
           
            <input type="text" class="form-control" readonly placeholder="cuenta costo en ventas" [(ngModel)]="newEsta.nombreCCntCostoVenta" name="nombreCCntCostoVenta"  aria-label="Username"  aria-describedby="basic-addon1">  
            <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables("costoEnVenta")'>
                <i class="bi bi-search"></i>  
            </button>
        </div>
    </div> 

    <div class="col-sm-3" >
        <label for="establecimientoCaja">Cuenta Para ventas</label> 
        <div class="input-group mb-3">
           
            <input type="text" class="form-control" readonly placeholder="cuenta de ventas" [(ngModel)]="newEsta.nombreCCntVentas" name="nombreCCntVentas"  aria-label="Username"  aria-describedby="basic-addon1">  
            <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables("venta")'>
                <i class="bi bi-search"></i>  
            </button>
        </div>
    </div> 

    <div class="col-sm-3" >
        <label for="establecimientoCaja">Cuenta Caja General</label> 
        <div class="input-group mb-3">
           
            <input type="text" class="form-control" readonly placeholder="cuenta de ventas" [(ngModel)]="newEsta.nombreCCntCajaGeneral" 
            name="nombreCCntCajaGeneral"  aria-label="Username"  aria-describedby="basic-addon1">  
            <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables("cajaGeneral")'>
                <i class="bi bi-search"></i>  
            </button>
        </div>
    </div> 
    
    
    <div class="col-sm-3" >
        <label for="establecimientoCaja">Cuenta Para Ingresos Diferidos por Bonos de Regalo</label> 
        <div class="input-group mb-3">
           
            <input type="text" class="form-control" readonly placeholder="cuenta cartera" [(ngModel)]="newEsta.nombreCCntIngDifBonoRegalo" name="nombreCCntCCobrar"  aria-label="Username"  aria-describedby="basic-addon1">  
            <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables("IDifBonoRegalo")'>
                <i class="bi bi-search"></i>  
            </button>
        </div>
    </div>
 </div>
    
  
    <hr>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <table class="table" *ngIf="establecimientos.length > 0">
                <tr>
                    <th>Nombre</th> 
                    <th>Tipo</th> 
                    <th>loc. estock</th> 
                    <th>Fecha estado</th>
                    <th>Usuario Estado</th>
                    <th>estado</th>
                    <th>opcion</th>
                </tr>
                <tr *ngFor="let establ of establecimientos" title ="{{establ.descripcion }}">
                    <td>{{establ.nombre}}</td> 
                    <td>{{establ.nombreTipo}}</td> 
                    <td>{{establ.NameBodegaStock}}</td> 
                    <td>{{establ.fecha_creacion | date: 'MMMM d, y, h:mm:ss'}}</td>
                    <td>{{establ.nombreUsuario}}</td>
                    <td>{{establ.nombreEstado}}</td>
                    <td>
                        <i class="bi bi-pencil-fill boton_activo" (click)="setActualizaCaja(establ)"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
