<div class="container-fluid">
    <div class="row">
        <!-- Menú lateral -->
        <div class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="list-group">
                <a  [routerLink]="[ 'usuarios'] "  routerLinkActive="active"  class="list-group-item list-group-item-action ">Usuarios</a>
             
                <a  [routerLink]="[ 'perfiles'] "  routerLinkActive="active"  class="list-group-item list-group-item-action ">Perfiles</a>
        <!--    <a  [routerLink]="[ 'recursos'] "  routerLinkActive="active"  class="list-group-item list-group-item-action">Recursos</a>-->
            </div>
        </div>
        <!-- Contenido principal -->
        <div class="col-md-9 col-lg-10 ml-sm-auto px-md-4"> 
            <router-outlet></router-outlet>
        </div>
    </div>
</div>