<div class="container-fluid  fondoGeneral confondoBrillante pt-3">
    <div class="row">
        <!-- Menú lateral -->
        <div class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="list-group">
                <a  [routerLink]="[ 'listar'] "  routerLinkActive="active"  class="list-group-item list-group-item-action ">Listar</a>
                <a  [routerLink]="[ 'crear'] "  routerLinkActive="active"  class="list-group-item list-group-item-action">Crear</a> 
            </div>
        </div>
        <!-- Contenido principal -->
        <div class="col-md-9 col-lg-10 ml-sm-auto px-md-4">
            <h2>Actividades de Descuento</h2>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>