<!-- cnt-transacciones.component.html -->
<form #cntTransaccionesForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-3">
        <label for="clase">Clase</label>
        <select id="clase" class="form-control" [(ngModel)]="selectedClase" name="clase" (change)="onClaseChange()">
          <option *ngFor="let clase of clases" [value]="clase.id_clase">{{ clase.nombre_clase }}</option>
        </select>
      </div>
  
      <div class="form-group col-md-3">
        <label for="grupo">Grupo</label>
        <select id="grupo" class="form-control" [(ngModel)]="selectedGrupo" name="grupo" (change)="onGrupoChange()">
          <option *ngFor="let grupo of grupos" [value]="grupo.cod_grupo">{{ grupo.nombre_grupo }}</option>
        </select>
      </div>
  
      <div class="form-group col-md-3">
        <label for="cuentaMayor">Cuenta Mayor</label>
        <select id="cuentaMayor" class="form-control" [(ngModel)]="selectedCuentaMayor" name="cuentaMayor" (change)="onCuentaMayorChange()">
          <option *ngFor="let cuenta of cuentasMayores" [value]="cuenta.cod_cuenta">{{ cuenta.nombre_cuenta }}</option>
        </select>
      </div>
  
      <div class="form-group col-md-3">
        <label for="idCuenta">Cuenta</label>
       

        <div class="input-group mb-3">
           
          <select id="idCuenta" class="form-control" [(ngModel)]="newCntTransacciones.id_cuenta" name="id_cuenta" required>
            <option *ngFor="let cuenta of cuentas" [value]="cuenta.id_scuenta">{{ cuenta.nro_scuenta +"-" + cuenta.nombre_scuenta }}</option>
          </select>
          <button type="button"class="btn btn-outline-primary" (click)='buscarCuentasContables( )'>
              <i class="bi bi-search"></i>  
          </button>
      </div>
      </div>
    </div>
  
    <div class="row">
      <div class="form-group col-md-3">
        <label for="valorCredito">Valor Crédito</label>
        <input type="number" id="valorCredito" class="form-control" [(ngModel)]="newCntTransacciones.valor_credito" name="valor_credito" required>
      </div>
  
      <div class="form-group col-md-3">
        <label for="valorDebito">Valor Débito</label>
        <input type="number" id="valorDebito" class="form-control" [(ngModel)]="newCntTransacciones.valor_debito" name="valor_debito" required>
      </div>
      <div class="form-group col-md-3">
        <label for="fechaTransaccion">Fecha Transacción</label>
        <input type="date" id="fechaTransaccion" class="form-control" [(ngModel)]="newCntTransacciones.fecha_transaccion" name="fecha_transaccion" required>
      </div>
   
      <div class="form-group col-md-3 pt-4"> 
         
      
        <div class="btn-group " role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-success" [disabled]="!cntTransaccionesForm.form.valid">
            <i class="bi bi-plus-circle" title="agregar movimiento"></i> 
          </button>
          <button type="button" (click)="limpiarMovimiento()"  class="btn btn-warning">
            <i class="bi bi-eraser" title="limpiar Movimiento"></i> 
          </button>
          <button type="button" (click)="cancelarOperacion()" class="btn btn-danger">
            <i class="bi bi-x-circle" title="cancelar Operacion"></i> 
          </button>
          <button type="button"  (click)="guardarOperacion()" class="btn btn-primary">
            <i class="bi bi-save"  title="guardar Operacion"></i> 
          </button>
        </div>
      </div> 
    </div>
  
   
   
  </form>

  <div  >
    <h3>Transacciones</h3>
    <table class="table table-bordered table-striped">
      <thead>
        <tr> 
          <th>Nro. Subcuenta</th>
          <th>Nombre Cuenta</th>
          <th>Nombre Subcuenta</th>
          <th>Valor Débito</th>
          <th>Valor Crédito</th> 
          <th>Relación Tabla</th>
          <th>Ingreso Saldos</th>  
          <th>Origen Comprobante</th>
          <th>Clase</th>
          <th>Grupo</th>
          <th>Digito</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaccion of operCntTransacciones"> 
          <td>{{ transaccion.nro_subcuenta }}</td>
          <td>{{ transaccion.nombre_cuenta }}</td>
          <td>{{ transaccion.nombre_subcuenta }}</td>
          <td>{{ transaccion.valor_debito | number: '1.2-2' }}</td>
          <td>{{ transaccion.valor_credito | number: '1.2-2' }}</td> 
          <td>{{ transaccion.relacion_tabla }}</td>
          <td>{{ transaccion.ingreso_saldos }}</td> 
          <td>{{ transaccion.origen_comprobante }}</td>
          <td>{{ transaccion.nombre_clase }}</td>
          <td>{{ transaccion.nombre_grupo }}</td>
          <td>{{ transaccion.digito }}</td>
          <td>  <div class="btn-group " role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-success" (click)="eliminarDato(transaccion)">
              -
            </button> 
            <button type="button"  (click)="editar(transaccion)" class="btn btn-primary">
             Ed
            </button>
          </div></td>
        </tr>
      </tbody>
    </table>
  </div>