<div class="container-fluid" > 
  <h3>Operaciones</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr> 
        <th>Operación</th>
        <th>Fecha Operación</th> 
        <th>Total Débito</th>
        <th>Total Crédito</th> 
        <th>Tercero</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let operacion of operaciones" style="cursor: pointer;" [title]="operacion.descripcion" (click) = "enviarOperacionCurrent(operacion)">
        <td>{{ operacion.nombre }}</td>
        <td>{{ operacion.fechaOperacion | date: 'short' }}</td> 
        <td>{{ operacion.totalDebito | number: '1.2-2' }}</td>
        <td>{{ operacion.totalCredito | number: '1.2-2' }}</td> 
        <td>{{ operacion.nombrePersona }}</td>
      </tr>
    </tbody>
  </table>
</div>