<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="centrado">Tipos de vehiculos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" [(ngModel)]="newTipoVehiculo.nombre" class="form-control" aria-describedby="nombreHelp" placeholder="Nombre">
                <small id="nombreHelp" class="form-text text-muted">(ej: campero, camión, automovil)</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Descripcion</label>
                <textarea [(ngModel)]="newTipoVehiculo.descripcion" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Estado</label>
                <select [(ngModel)]="newTipoVehiculo.estado" class="form-control">
                    <option value=0>Estado</option>
                    <option value=1>Activo</option>
                    <option value=2>Inactivo</option>
                </select>
                <small id="nombreHelp" class="form-text text-muted">(ej: Activo, Inactivo)</small>
            </div>
            <div class="form-group">
                <br><br>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <button type="button" (click)="manageTipoVehiculo()" class="btn btn-success">Enviar</button>
                    <button type="button" (click)="cancelar()" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row" *ngIf="tiposVehiculo.length > 0">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th colspan="2">Opcion</th>
                </tr>
                <tr *ngFor="let tipo_vehiculo of tiposVehiculo">
                    <td>{{tipo_vehiculo.nombre}}</td>
                    <td>{{tipo_vehiculo.descripcion}}</td>
                    <!-- <td>{{tipo_vehiculo.estadoNombre}}</td> -->
                    <td title="editar">
                        <i class="bi bi-pencil-square boton_activo" (click)="setActualizatipo_vehiculo(tipo_vehiculo)"></i>
                    </td>
                    <td title="eliminar">
                        <i class="bi bi-trash boton_activo" (click)="borrarTipoVehiculo(tipo_vehiculo)"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
