<div class="container-fluid">
    <div *ngIf="listo">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Medio de Pago</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pago of pagos; let i = index">
                    <ng-container *ngIf="pagos[i].nombreMedio !== 'BONOS'">
                    <td style="align-content: center;">{{pago.nombreMedio}}
                        </td>
                        <td style="align-content: center;"> <button  *ngIf="i !== indexEfectivo" class="btn btn-warning" (click)="adicionarOtroBono(i)">+</button></td>
                    <td  style="align-content: center;" *ngIf="i === indexEfectivo">
                        <input type="number" readonly class="form-control" [(ngModel)]="pagos[i].valorPagado">
                    </td> 
                    <td *ngIf="i === indexEfectivo">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th><span style="font-size: x-small;"><b>Recibido</b></span></th>
                                    <th><span style="font-size: x-small;"><b>Vueltos</b></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="number" class="form-control form-control-sm" (keyup.enter)='setVueltos(i)' (blur)="setVueltos(i)" [(ngModel)]="pagos[i].valorRecibido"></td>
                                    <td><input *ngIf="i === indexEfectivo" type="number" readonly class="form-control form-control-sm" [(ngModel)]="pagos[i].vueltos"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td  style="align-content: center;" *ngIf="i !== indexEfectivo">
                        <input (change)="cambioDeValor(i)" type="number" class="form-control" [(ngModel)]="pagos[i].valorPagado"></td>
                        <td *ngIf="i !== indexEfectivo"  style="align-content: center;">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th><span style="font-size: x-small;"><b>Referencia de pago =></b></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control form-control-sm" [(ngModel)]="pagos[i].referencia"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </ng-container>
                    <ng-container *ngIf="pagos[i].nombreMedio == 'BONOS'">
                        <td style="align-content: center;">{{pago.nombreMedio}} </td >
                            <td style="align-content: center;">   <button class="btn btn-warning" (click)="adicionarOtroBono(i)">+</button>                 </td>
                        <td><input type="text" (keyup.enter)="buscarBono(i)" class="form-control form-control-sm" [(ngModel)]="pagos[i].referencia"></td>
                        <td  style="align-content: center;"  > <input (change)="cambioDeValor(i)" readonly type="number" class="form-control" [(ngModel)]="pagos[i].valorPagado"></td>
                            
                            
                    </ng-container>


                </tr>
                <tr>
                    <td colspan="4" class="text-center">
                        <hr>
                        <button class="btn btn-success" (click)="finalizarOk()">Cerrar Factura</button>
                        <button class="btn btn-warning" style="margin-left: 5%;" (click)="cancelar()">Continuar Facturando</button>
                        <hr>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!listo"><i class="bi bi-arrow-repeat" style="font-size: 2rem;"></i></div>
</div>
