<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 class='centrado'>Categorias de productos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" (click)='crearCategoria()'>Nueva Categoria</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table class="table" *ngIf="categorias.length > 0">
                <tr>
                    <th>Nombre</th>
                    <th>Letra</th>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th>Contador</th>
                    <th >Opción</th>
                </tr>
                <tr *ngFor="let categoria of categorias">
                    <td>{{categoria.nombre }}</td>
                    <td>{{categoria.letra}}</td>
                    <td>{{categoria.tipoDescripcion }}</td>
                    <td>{{categoria.descripcion}}</td>
                    <td>{{categoria.contador}}</td>
                    <td >
                        
                        <i class="bi bi-pencil-fill boton_activo" (click)="setActualizacategoria(categoria)" title="editar categoria"></i>
                        <i title="Asignar características de categoría" class="bi bi-card-text boton_activo  ms-2" (click)="setAgregarPerfil(categoria)"></i></td>
                </tr>
            </table>
        </div>
    </div>
</div>
