<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 class='text-center'>Listado de reportes</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="row" *ngFor="let item of listado.izquierdo">
                <div class="col-sm-12">
                    <h3 class='boton_activo'>
                        <a [routerLink]="item.direccion" class="menuPrincipalLink d-flex align-items-center">
                            <i class="bi bi-arrow-right-circle me-2"></i>{{item.display_nombre}}
                        </a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row" *ngFor="let item2 of listado.derecho">
                <div class="col-sm-12">
                    <h3 class='boton_activo'>
                        <a [routerLink]="item2.direccion" class="menuPrincipalLink d-flex align-items-center">
                            <i class="bi bi-arrow-right-circle me-2"></i>{{item2.display_nombre}}
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
