<div class="d-flex input-group">  
    <div class="btn-group dropend">
        <button type="button"class="btn btn-outline-success "> 
                <span>{{selectedValue!.nombreCompleto}}</span>
        </button>
        <button type="button"class="btn btn-outline-primary  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
       <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
           <li *ngFor="let option of options" (click)="selectOption(option)">  
               <a class="dropdown-item">
                   <span style="cursor: pointer;">
                    {{option.nombreCompleto }}
                   </span>
              
           </a>  
             </li>
         </ul>
       </div></div>