<div class=".container-fluid contenedor">
<ul class="nav nav-tabs">
    <li class="nav-item ">
        <a class="nav-link likcontPrd boton_activo active" id="ListadoPrdLink" (click)="removeGetActivo('ListadoPrdLink');getProductos()">Listado</a>
    </li>
    <li class="nav-item">
        <a class="nav-link likcontPrd boton_activo" id="CrearPrdLink" (click)="removeGetActivo('CrearPrdLink'); limpiarFormulario()">Crear</a>
    </li>
    <li class="nav-item">
        <a class="nav-link likcontPrd boton_activo" id="ExistenciaPrdLink" (click)="removeGetActivo('ExistenciaPrdLink'); limpiarFormulario()">Existencias</a>
    </li>
</ul>

<div class="container-fluid contPrd" style="display: block;" id="ListadoPrdLinkDiv">
    <div class="row">
        <div class="col-sm-12">
            <h2 class='centrado'>listado de productos</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10" >
            <nav class="navbar bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand">Productos</a>
                    <div class="d-flex" role="search">
                        <input type="text" [(ngModel)]='textFindProductos' (keyup.enter)="getProductosPorFiltro()" class="form-control" />
                 
                        <button class="btn btn-outline-success" (click)="getProductosPorFiltro()" type="button">Buscar</button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 contenedorTablas"  >
            <table class="table" *ngIf="Productos.length > 0">
                <tr style="text-align: center;">
                    <th noWrap >referencia </th>
                    <th  noWrap > nombre </th>
                    <th   noWrap > presentacion </th>
                    <th noWrap > Tipo </th>
                    <th noWrap > porcent_iva </th>
                    <th noWrap > categoria </th>
                    <th noWrap > marca </th>
                    <th noWrap > ref. externa </th>
                    <th colspan="2">
                        opcion
                    </th>
                </tr>
                <tr *ngFor="let Producto of Productos">
                    <td>{{Producto.id }}</td>
                    <td>{{Producto.nombre }}| {{Producto.nombre2 }} | {{Producto.nombre3 }}</td>
                    <td>{{Producto.nombrePresentacion }}</td>
                    <td>{{Producto.tipo_prod_nombre }}</td>
                    <td >{{Producto.porcent_iva }} %</td>
                    <td>{{Producto.categoria?.nombre }}</td>
                    <td noWrap>{{Producto.nombreMarca }}</td>
                    <td noWrap>{{Producto.cod_prd_externo }}</td>
                    <td title="editar producto">
                        <i class="bi bi-pencil-fill boton_activo" (click)="editarPrd(Producto)"></i>
                    </td>
                    <td title="mostrar existencias">
                        <i class="bi bi-card-list boton_activo" (click)="existencias(Producto)"></i>
                    </td>
                </tr>
            </table><hr>
        </div>
    </div>
</div>

<div class="container-fluid contPrd" style="display: none;" id="CrearPrdLinkDiv">
    <div class="row">
        <div class="col-sm-12"><hr>
            <h2 class='centrado'>creacion nuevo de productos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <div class="col-sm-10">Nombre : </div>
            <div class="col-sm-12"> <input type="text" [(ngModel)]="newProducto.nombre" class="form-control" placeholder="nombre principal "></div>
            <div class="col-sm-10">Nombre 2 : </div>
            <div class="col-sm-12"> <input type="text" [(ngModel)]="newProducto.nombre2" class="form-control" placeholder="nombre secundario "></div>
            <div class="col-sm-10">Nombre 3 : </div>
            <div class="col-sm-12"> <input type="text" [(ngModel)]="newProducto.nombre3" class="form-control" placeholder="nombre secundario "></div>
             <div class="col-sm-10">Ref. Proveedor : </div>
            <div class="col-sm-12"> <input type="text" [(ngModel)]="newProducto.cod_prd_externo" class="form-control" placeholder="nombre secundario "></div>
       </div>
        <div class="col-sm-3">
            <div class="col-sm-10">Categoria : </div>
            <div class="col-sm-12">
                <select class="form-control" [(ngModel)]="newProducto.idCategoria" (change)="setCategoria2()">
                    <option *ngFor="let categoria of categorias1" value="{{categoria.id}}">{{categoria.nombre}}</option>
                </select>
            </div>
            <div class="col-sm-10">Categoria 2 : </div>
            <div class="col-sm-12">
                <select class="form-control" [(ngModel)]="newProducto.idCategoria2" (change)="setCategoria3()">
                    <option *ngFor="let categoria of categorias2" value="{{categoria.id}}">{{categoria.nombre}}</option>
                </select>
            </div>
            <div class="col-sm-10">Categoria 3 : </div>
            <div class="col-sm-12">
                <select class="form-control" [(ngModel)]="newProducto.idCategoria3">
                    <option *ngFor="let categoria of categorias3" value="{{categoria.id}}">{{categoria.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-10">Marca : </div>
            <div class="col-sm-12">
                <select class="form-control" [(ngModel)]="newProducto.idMarca">
                    <option *ngFor="let marca of marcas" value="{{marca.id}}">{{marca.nombre}}</option>
                </select>
            </div>



            <div class="col-sm-10">Tipo de Producto : </div>
            <div class="col-sm-12">
                <select class="form-control" [(ngModel)]="newProducto.tipo_producto" (change)="cambioTipProducto()">
                    <option *ngFor="let tipProducto of tipProductos" value="{{tipProducto.id}}">{{tipProducto.nombre}}</option>
                </select>
            </div>
            <div class="col-sm-10"  >presentacion : </div>
            <div class="col-sm-12">
                <select class="form-control" [ariaReadOnly]="newProducto.tipo_producto == 2 " [(ngModel)]="newProducto.presentacion">
                    <option *ngFor="let tipProducto of presentacion" value="{{tipProducto.id}}">{{tipProducto.nombre}}</option>
                </select>
            </div> 
        
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <div class="col-sm-10">precio de compra : </div>
            <div class="col-sm-12"> <input type="number" [(ngModel)]="newProducto.precioCompra" class="form-control" placeholder="nombre principal "></div>
        </div>
        <div class="col-sm-3 row"> 
            <div class="col-sm-6" > 
                <div class="col-sm-12"> 
            <div class="form-check form-switch">
            <input   class="form-check-input" 
            type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="ivaIncluido">
            <label class="form-check-label" for="flexSwitchCheckDefault">IVA incluido</label>
        </div> </div> </div>
            <div class="col-sm-6" > 
            <div class="col-sm-10">IVA (%) : </div>
            <div class="col-sm-12"> 
                <input type="number" [readOnly]="newProducto.infoTributaria !== 'GRABADO'" [(ngModel)]="newProducto.porcent_iva" 
                class="form-control" placeholder="nombre principal "></div>
                </div>
           
      
        </div>
        <div class="col-sm-3">
        <div class="col-sm-10">informacion tributaria : </div>
        <div class="col-sm-12">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary" [class.active]="newProducto.infoTributaria === 'GRABADO'">
                    <input type="radio" name="options" (click)="newProducto.porcent_iva=0" [(ngModel)]="newProducto.infoTributaria" autocomplete="off" value="GRABADO"> Grabado
                </label>
                <label class="btn btn-secondary" [class.active]="newProducto.infoTributaria === 'EXENTO'">
                    <input type="radio" name="options" (click)="newProducto.porcent_iva=0"  [(ngModel)]="newProducto.infoTributaria" autocomplete="off" value="EXENTO"> Exento
                </label>
                <label class="btn btn-secondary" [class.active]="newProducto.infoTributaria === 'EXCLUIDO'">
                    <input type="radio" name="options" (click)="newProducto.porcent_iva=0"  [(ngModel)]="newProducto.infoTributaria" autocomplete="off" value="EXCLUIDO"> Excluido
                </label>
            </div>
        </div></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <div class="col-sm-10">precio1 : </div>
            <div class="col-sm-12"> <input type="number" [(ngModel)]="newProducto.precios[0].precio_con_iva" class="form-control" placeholder="nombre principal "></div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-10">precio2 : </div>
            <div class="col-sm-12"> <input type="number" [(ngModel)]="newProducto.precios[1].precio_con_iva" class="form-control" placeholder="nombre principal "></div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-10">precio3 : </div>
            <div class="col-sm-12"> <input type="number" [(ngModel)]="newProducto.precios[2].precio_con_iva" class="form-control" placeholder="nombre principal "></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
            <div class="col-sm-6">Codigo de Barras</div>
            <div class="col-sm-12">
                <input type="text" [(ngModel)]="newProducto.barcode" class="form-control" placeholder="CODIGO DE BARRAS">
            </div>
            <div class="col-sm-6">Descripcion</div>
            <div class="col-sm-12">
                <input type="text" [(ngModel)]="newProducto.descripcion" class="form-control" placeholder="Descripcion adicional">
            </div>
        </div>
        <div class="col-sm-3">
            <hr>
            <div class="row">
                <div class="col-sm-12  col-lg-6  " >
                    <button  class="btn btn-success"  style="width: 100%;" type="button" (click)="enviarProducto()">Crear Producto</button> 
                </div> 
                <div class="col-sm-12 col-lg-6 ">
                    <button  class="btn btn-danger "  style="width: 100%;" (click)="limpiarFormulario()"> Cancelar </button>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <hr>
</div>

<div class="container-fluid contPrd" style="display: none;" id="ExistenciaPrdLinkDiv">
    <div class="row">
        <div class="col-sm-12">
            <h2 class='centrado'>ingresar existencia a productos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h3>Datos De inventario : </h3>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-10">Nombre : </div>
            <div class="col-sm-12">
                <input type="text" [(ngModel)]="inventario.nombre" class="form-control" placeholder="nombre inventario ">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-10">Bodega : </div>
            <div class="col-sm-12">
                <select id="bodegasSelect" (change)="cargarPrecargue()" class="form-control" [(ngModel)]="inventario.bodega">
                    <option *ngFor="let categoria of bodegas" [ngValue]="categoria">{{categoria.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-10">Descripcion : </div>
            <div class="col-sm-12">
                <input type="text" [(ngModel)]="inventario.descripcion" class="form-control" placeholder="descripcion inventario ">
            </div>
        </div>
         <div class="col-sm-3">
            <div class="col-sm-10">Tipo : </div>
            <div class="col-sm-12">
                 <select [(ngModel)]="inventario.tipoInventario" class="form-control" >
                    <option *ngFor="let item of tipInventario" [ngValue]="item.id">{{item.nombre}}</option> 
                </select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-lg-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="cod. producto" aria-label="Texto"
                (keyup.enter)=" buscarProductoPorCodigo()" [(ngModel)] = 'codProducto' (keyup.escape)="codProducto = ''"              > 
                <div class="input-group-append">
                    <button class="btn btn-success" (click)="busquedaAuxiliarProducto()">Agregar producto</button>
                </div>
              </div>
           
        </div>
        <div class="col-sm-12 col-lg-2">
            <button class="btn btn-danger" (click)="borrarPrecarga()">Limpiar listado</button>
        </div>
        <div class="col-sm-12 col-lg-2">
            <button class="btn btn-info" (click)="cerrarInventario()">cerrar inventario</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="max-height: 370px; overflow-y: auto;">
            <table class="table">
                <thead>
                    <th>producto</th>
                    <th>cantidad</th>
                    <th>usuario</th>
                    <th>bodega</th>
                    <th>-----0-----</th>
                </thead>
                <tr *ngFor="let item of AuxIngresoInventarioModule">
                    <td>{{item.nombreProducto}}</td>
                    <td>{{item.cantidad}}</td>
                    <td>{{item.nombreUsuario}}</td>
                    <td>{{item.nombreBodega}}</td>
                    <td title="eliminar"><i class="bi bi-trash boton_activo" (click)="borrarIngreso(item)"></i></td>
           
                </tr>
            </table>
        </div>
    </div>
</div>

</div>

