<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Bodegas de productos</h2>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary"  >Nueva Bodega</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table class="table" *ngIf="bodegas.length > 0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th colspan="2">Opción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bodega of bodegas">
                        <td>{{bodega.nombre}}</td>
                        <td>{{bodega.descripcion.trim()}}</td>
                        <td>{{bodega.nombre_estado}}</td>
                        
                        <td title="Editar bodega">
                            <i class="bi bi-pencil-fill boton_activo" (click)="setActualizacategoria(bodega)" aria-label="Editar"></i>
                        </td>
                        <td title="Asignar características de bodega">
                            <i class="bi bi-card-text boton_activo" (click)="setAgregarPerfil(bodega)" aria-label="Asignar características"></i>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
