 <div class="container-fluid">
    <div class="row">
        <!-- Menú lateral -->
        <div class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="list-group">
                 <a class="list-group-item list-group-item-action "  routerLinkActive="active" [routerLink]="[ 'operaciones'] ">Operaciones</a> 
                <a class="list-group-item list-group-item-action "  routerLinkActive="active" [routerLink]="[ 'subCuentas'] ">Sub-Cuentas</a> 
                 <a class="list-group-item list-group-item-action "  routerLinkActive="active" [routerLink]="[ 'cuentas'] ">Cuentas</a> 
               <a class="list-group-item list-group-item-action "  routerLinkActive="active" [routerLink]="[ 'grupos'] ">Grupos</a> 
                <a class="list-group-item list-group-item-action " routerLinkActive="active" [routerLink]="[ 'clases'] ">Clases</a> 
          
           
           
            </div>
        </div>
        <!-- Contenido principal -->
        <div class="col-md-9 col-lg-10 ml-sm-auto px-md-4">
            <h2>Contabilidad:</h2>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
