<nav *ngIf="sucursal.length >0" class="navbar navbar-expand-lg navbar-light    " style="background-color: #c9a8a9;">
    <a class="navbar-brand" [routerLink]="['inicio']">
        <img [src]="sucursal[0].logo" width="30" height="30" alt="" loading="lazy">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" *ngFor="let menuUsuario of menusUsuario">
                <a class="nav-link" [routerLink]="menuUsuario.direccion">{{menuUsuario.nombre_recurso}}</a>
            </li>

        </ul>
        <ul class="navbar-nav mr-auto" style="margin-right: 0px !important;">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-users-cog "></i> Misceláneo
                </a>
                <div class="dropdown-menu" style="background-color: lightslategray;" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['miUsuario']">
                        <i class="fa fa-user-circle"></i> Mi Usuario</a>
                    <a class="dropdown-item" [routerLink]="['parametrosDelSistema']">
                        <i class="fa fa-user-circle"></i>Parametros</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" [routerLink]="['/']">
                        <i class="fas fa-door-open"></i> Log out
                    </a>
                </div>
            </li>
        </ul>


    </div>
</nav>