<div class="container-fluid contPrd" style="display: block; max-height: 500px; overflow-y: auto;" id="ListadoPorNumeroLinkDiv">
    <div class="row">
        <div class="col-sm-12">
            <h2 class='centrado'>Movimiento Cuentas Contables</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            Digite el número o código de la factura
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <input type="text"  class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">
                    Código o el número de la factura a imprimir. El programa buscará la o las facturas que coincidan con el valor ingresado.</small>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button"  class="btn btn-primary"><i class="bi bi-search"></i></button>
        </div>
    </div>

</div>
