<nav
  *ngIf="sucursal.length > 0"
  class="mb-3 navbar navbar-expand-lg navbar-light px-4 top-0 sticky-top d-flex  justify-content-between align-items-center text-light"
  style="background-color: #c9a8a9"
>

    <img
    style="cursor: pointe;"
    class=""
    (click)="changeModule('vfff,inicio')"
      [src]="sucursal[0].logo"
      width="30"
      height="30"
      alt=""
      loading="lazy"
    />
    <button class="btn  " (click)="goBack()">
      ← Atrás
    </button>
 

  <div
    class=" d-flex justify-content-around align-items-center"
    style="font-size: 10px; width: 80%;"
    id="navbarText"
  >
     <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  ">
        <ng-container *ngFor="let recurso of this.usuario?.permisos">
          <shared-menu-item-li [recurso]="recurso"></shared-menu-item-li>
        </ng-container>
      </ul>
    </div>

    <ul class="navbar-nav mr-auto" style="margin-right: 0px !important">
      <li class="nav-item dropdown" 
      (mouseenter)="showDropdown()" 
      (mouseleave)="hideDropdown()"
      [ngClass]="{ 'show': isDropdownActive }">
        <a 
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        > 
          <i class="fas fa-users-cog"></i>
          {{ usuario?.nombre }}
        </a>
        <div
          [ngClass]="{ 'dropdown-menu': isDropdownActive }"
          style="
            background-color: lightslategray;
            position: absolute;
            width: 100%;
          "
          class="py-1 text-center"
          aria-labelledby="navbarDropdown"
        >
          <a class="dropdown-item" [routerLink]="['miUsuario']">
            <i class="fa fa-user-circle"></i> Mi Usuario</a
          >
          <div class="dropdown-divider"></div>

          <span
            style="cursor: pointer"
            class="dropdown-item text-light"
            (click)="confirmLogout()"
            >Cerrar Sesión</span
          >
        </div>



      </li>
    </ul>
  </div>
</nav>
