<table class="table table-striped table-inverse table-responsive" style="width: 100%;">
    <thead class="thead-inverse">
        <tr>
            <th class="centrado">&nbsp;&nbsp;&nbsp;&nbsp;establecimiento&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th class="centrado">&nbsp;&nbsp;&nbsp;&nbsp;nombre&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th class="centrado">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;estado actual&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th class="centrado">&nbsp;&nbsp;&nbsp;&nbsp;Descripcion&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th class="centrado">&nbsp;&nbsp;&nbsp;&nbsp;opcion&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let caja of cajas">
            <td>&nbsp;&nbsp;&nbsp;&nbsp;{{caja.nombreEstablecimiento}}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;{{caja.nombre}}</td>
            <td class="centrado">&nbsp;&nbsp;&nbsp;&nbsp;{{caja.nombreEstado}}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;{{caja.descripcion}}</td>
            <td class="centrado" style="margin: 10px;">
                <i class="bi bi-check-circle-fill boton_activo" (click)="seleccionarCajaAestablecer(caja)"></i>
            </td>
        </tr>
    </tbody>
</table>
