<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Reimpresión de facturas</h1>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="facturaInput">Digite el número o código de la factura</label>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <input type="text" id="facturaInput" (keyup.enter)="getDocumentos()" [(ngModel)]="codFactura" class="form-control" placeholder="">
                <small id="facturaHelp" class="form-text text-muted">Código o el número de la factura a imprimir. El programa buscará la o las facturas que coincidan con el valor ingresado.</small>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" (click)="getDocumentos()" class="btn btn-primary"><i class="bi bi-search"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Listado de facturas</h2>
        </div>
    </div>
    <div class="row" *ngIf="documentos && documentos.length > 0">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Factura ID</th>
                        <th>Cliente</th>
                        <th>Cantidad</th>
                        <th>Valor Parcial</th>
                        <th>Descuento</th>
                        <th>IVA</th>
                        <th>Total</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let venta of documentos">
                        <td>{{venta.idDocumentoFinal}}</td>
                        <td>{{venta.clienteNombre}}</td>
                        <td>{{venta.cantidadVendida}}</td>
                        <td>{{venta.valorParcial | currency:'USD'}}</td>
                        <td>{{venta.descuento | currency:'USD'}}</td>
                        <td>{{venta.valorIVA | currency:'USD'}}</td>
                        <td>{{venta.valorTotal | currency:'USD'}}</td>
                        <td><i class="bi bi-printer boton_activo" (click)="imprimirFactura(venta)"></i></td>
                        <td><i class="bi bi-list boton_activo" (click)="VerFactura(venta)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" *ngIf="documentos && documentos.length === 0">
        <div class="col-sm-12 text-center">
            <p>No se encontraron facturas con el código ingresado.</p>
        </div>
    </div>
</div>
