<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 centrado">
            <h1> Reimpresion de facturas</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            Digite el numero o codigo de la factura
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <input type="text" (keyup.enter)="getDocumentos()" [(ngModel)]="codFactura" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">código  o el número de la factura a impimir el programa buscara la o las facturas que coincidad con el valor ingresado</small>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" (click)="getDocumentos()" class="btn btn-primary"><i class="fas fa-search"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 centrado">
            listado de facturas
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12  ">
            <table class="table">
                <tr>
                    <td>factura id</td>
                    <td>Cliente</td>
                    <td>cantidad</td>
                    <td>valor parcial</td>
                    <td>descuento</td>
                    <td>IVA</td>
                    <td>Total</td>
                    <td colspan="4">OPCIONES</td>
                </tr>
                <tr *ngFor="let venta of documentos">
                    <td>{{venta.idDocumentoFinal}}</td>
                    <td>{{venta.clienteNombre}}</td>
                    <td>{{venta.cantidadVendida}}</td>
                    <td>{{venta.valorParcial|currency:'USD'}}</td>
                    <td>{{venta.descuento|currency:'USD'}}</td>
                    <td>{{venta.valorIVA|currency:'USD'}}</td>
                    <td>{{venta.valorTotal|currency:'USD'}}</td>
                    <td><i class="fas fa-print boton_activo" (click)="imprimirFactura(venta)"></i> </td>
                    <td> <i class="fas fa-list boton_activo" (click)="VerFactura(venta)"></i></td>
                    <td> </td>

                </tr>
            </table>
        </div>
    </div>

</div>